<template>
  <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 1L10 9L19 1" stroke="#189FA3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</template>

<script>
export default {
name: "BlueArrow"
}
</script>

<style scoped>

</style>