<template>
  <div class="projects-container container">
    <div class="projects-top-text">
      За время своего существования Бизнес в стиле .RU успешно завершил более 80
      проектов, среди которых как коммерческие, так и партнерские. Помимо этого
      мы помогаем благотворительным организациям. В наших приоритетах вовремя и
      качественно выполнять работу над проектами.
    </div>
    <div class="projects-title">Проекты</div>
    <div class="projects-filter">
      <div style="width: 180px">
        <md-field>
          <label>Направление</label>
          <md-select v-model="spec" name="specialization" id="specialization">
            <md-option value="12">Веб-разработка</md-option>
            <md-option value="11">Маркетинг</md-option>
            <md-option value="1">Android</md-option>
            <md-option value="2">iOS</md-option>
            <md-option value="3">Web-дизайн</md-option>
            <md-option value="4">Graph-дизайн</md-option>
            <md-option value="5">Project Management</md-option>
            <md-option value="0">Нет</md-option>
          </md-select>
        </md-field>
      </div>
      <div style="width: 180px">
        <md-field>
          <label>Год</label>
          <md-select v-model="year" name="year" id="year">
            <md-option value="2021">2021</md-option>
            <md-option value="2020">2020</md-option>
            <md-option value="2019">2019</md-option>
            <md-option value="0">Нет</md-option>
          </md-select>
        </md-field>
      </div>
      <div class="orange-button button-template" @click="filterProjects">
        Показать
      </div>
    </div>
    <div v-if="is_empty" class="projects-search-error">
      Упс! Кажется, мы не делали таких проектов, но мы думаем, что вам будут
      интересны другие проекты.
    </div>
    <template v-if="projects.length == 0">
      <div class="projects-items">
        <template v-if="getProjectsList">
          <ProjectCard
            v-for="(index, key) in getProjectsList.slice(0, num_elem)"
            :key="key"
            :proj="index"
          ></ProjectCard>
        </template>
      </div>
      <div
        v-if="num_elem < getProjectsList.length"
        class="orange-button button-template"
        @click="updNumElem"
      >
        Смотреть еще
      </div>
    </template>
    <template v-else>
      <div class="projects-items">
        <template v-if="projects">
          <ProjectCard
            v-for="(index, key) in projects.slice(0, num_elem)"
            :key="key"
            :proj="index"
          ></ProjectCard>
        </template>
      </div>
      <div
        v-if="num_elem < projects.length"
        class="orange-button button-template"
        @click="updNumElem"
      >
        Смотреть еще
      </div>
    </template>
    <div class="projects-space"></div>
    <ProjectOrder></ProjectOrder>
  </div>
</template>

<script>
// import Vue from 'vue'
// import Vuetify from 'vuetify'
import { mapGetters } from "vuex";
import ProjectCard from "./ProjectCard";
import ProjectOrder from "./ProjectOrder";

// Vue.use(Vuetify)

export default {
  name: "AllProjects",
  components: {
    ProjectCard,
    ProjectOrder,
  },
  data() {
    return {
      projects: [],
      is_empty: false,
      num_elem: 9,
      spec: "",
      dropdown_spec: [],
      ptype: "",
      dropdown_type: [],
      year: "",
      dropdown_year: ["2020"],
    };
  },
  computed: {
    ...mapGetters(["getProjectsList"]),
  },
  methods: {
    updNumElem() {
      this.num_elem += 9;
      if (this.num_elem > this.getProjectsList.length)
        this.num_elem = this.getProjectsList.length;
    },
    filterBySpec() {
      this.projects = this.getProjectsList;

      let spec_proj = [];
      if (this.spec > 0) {
        this.projects.forEach((item) => {
          for (let i = 0; i < item.specs.length; i++) {
            if (item.specs[i].id_spec == this.spec) {
              spec_proj.push(item);
              break;
            }
          }
        });
        return spec_proj;
      } else {
        return this.projects;
      }
    },
    filterByType() {
      let spec_proj = this.filterBySpec();
      let type_proj = [];

      if (this.ptype > 0) {
        spec_proj.forEach((item) => {
          for (let i = 0; i < item.types.length; i++) {
            if (item.types[i].id_type == this.ptype) {
              type_proj.push(item);
              break;
            }
          }
        });
        return type_proj;
      } else {
        return spec_proj;
      }
    },
    filterProjects() {
      let type_proj = this.filterByType();
      let year_proj = [];

      if (this.year > 0) {
        type_proj.forEach((item) => {
          if (item.date_end.slice(0, 4) == this.year) {
            year_proj.push(item);
          }
        });
        this.projects = year_proj;
      } else {
        this.projects = type_proj;
      }
      if (this.projects.length == 0) {
        this.is_empty = true;
      }
    },
  },
  mounted() {
    this.$store.dispatch("getAllProjects");
    window.scrollTo({
      top: 0,
      behavior: "instant",
    });
  },
};
</script>

<style scoped>
</style>