<template>
  <div style="text-align: start">
    <div class="projects-container">
      <div class="projects-title">Заказать проект</div>
      <div class="projects-order-container">
        <div class="projects-order-info">
          <div class="projects-order-info-title">Мы делаем:</div>
          <div class="projects-order-info-text">
            <ul>
              <li>Сайты</li>
              <li>Мобильные приложения</li>
              <li>Маркетинговые стратегии</li>
              <li>Брендинг и айдентику</li>
            </ul>
          </div>
          <div class="projects-order-info-text pl-1">
            На нашем счету более 80 успешно завершенных проектов. Если вам важно
            быстрое и качественное выполнение работы в срок – оставьте заявку
            прямо сейчас!
          </div>
        </div>
        <div class="projects-order-form">
          <div class="projects-order-form-title">Начать проект</div>
          <v-app class="projects-order-input-container">
            <form ref="form" lazy-validation>
              <v-text-field
                prefix="Имя"
                :rules="rules"
                hide-details="auto"
                v-model="order.full_name"
                color="secondary lighten-4"
                class="input"
                required
              ></v-text-field>
              <v-text-field
              prefix="Компания"
                height="30px"
                :rules="rules"
                hide-details="auto"
                v-model="order.company_name"
                color="secondary lighten-4"
                class="input"
                required
              ></v-text-field>
              <v-text-field
                height="25px"
                prefix="Email"
                :rules="rulesEmail"
                hide-details="auto"
                v-model="order.email"
                class="input"
                color="secondary lighten-4"
                required
              ></v-text-field>
              <v-text-field
                height="25px"
                prefix="Телефон"
                :rules="rulesPhone"
                hide-details="auto"
                v-model="order.phone"
                color="secondary lighten-4"
                class="input"
                type="number"
                required
              ></v-text-field>
              <v-textarea
                class="mt-5"
                style="display: flex; align-items: flex-start; height: auto;"
                color="secondary lighten-4"
                placeholder="Описание проекта"
                height="140px"
                :no-resize="true"
                v-model="order.description_project"
              ></v-textarea>
              <div
                class="orange-button button-template1"
                style="cursor: pointer"
                @click="addProjectOrder"
              >
                Отправить
              </div>
              <div class="agreement">
                <span style="font-weight: bold"
                  >Нажимая кнопку «Отправить», я даю своё </span
                >согласие на обработку персональных данных.
              </div>
            </form>
          </v-app>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import API from "Api";
export default {
  name: "ProjectOrder",
  data() {
    return {
      order: {
        full_name: "",
        email: "",
        company_name: "",
        phone: "",
        description_project: "",
        type_project: "type",
      },
      rules: [
        (value) => value.length > 0 || "Обязательное поле",
        (value) => value.length > 3 || "Ожидается больше 3 символов",
      ],
      rulesPhone: [
        (value) => value.length > 0 || "Обязательное поле",
        (value) => value.length > 10 || "Некорректный номер",
        (value) => value.length < 12 || "Некорректный номер",
      ],
      rulesEmail: [
        (value) => value.length > 0 || "Обязательное поле",
        (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Некорректный email";
        },
      ],
    };
  },
  methods: {
    addProjectOrder() {
      let date = new Date().toString();
      const data = new FormData();
      data.append("full_name", this.order.full_name);
      data.append("email", this.order.email);
      data.append("company_name", this.order.company_name);
      data.append("phone", this.order.phone);
      data.append("description_project", this.order.description_project);
      data.append("type_project", this.order.type_project);
      data.append("date_order", date);
      if (
        this.order.full_name &&
        this.order.email &&
        this.order.company_name &&
        this.order.phone &&
        this.order.description_project
      ) {
        API.post("website/add_project_order", data)
          .then((response) => {
            console.log(response);
            this.$bvToast.toast("Заявка отправлена", {
              title: "Успешно!",
              variant: "success",
              solid: true,
            });
            this.$refs.form.reset();
          })
          .catch(
            function (error) {
              console.log(error);
            }.bind(this)
          );
      } else {
        this.$bvToast.toast("Заполните все поля", {
          title: "Уведомление",
          variant: "info",
          solid: true,
        });
      }
    },
  },
};
</script>
<style scoped>
.input{
  height: 76px;
}
</style>