<template>
    <div class="projects-container">
        <template v-if="getProjectInfo[0]">
            <img class="proj-img" v-if="getProjectInfo[0].img" :src="'https://api.styleru.org' + getProjectInfo[0].img" alt="">
            <div class="proj-title">{{ getProjectInfo[0].name }}</div>
            <div class="proj-info-container">
                <div><b>Направление: </b>{{ getSpecs }}</div>
                <div><b>Год: </b>{{ getProjectInfo[0].date_end.slice(0, 4) }}</div>
                <div><b>Что сделали: </b>{{ getProjectInfo[0].short_description }}</div>
            </div>
            <div class="proj-block-title">О проекте</div>
            <div class="proj-description">{{ getProjectInfo[0].description }}</div>
            <div class="proj-block-title">Команда</div>
            <div class="proj-team">
                <div class="proj-person" v-for="(p, key) in getProjectInfo[0].team" :key="key">
                    <img :src="p.img" alt="" class="proj-person-avatar">
                    <div class="proj-person-info">
                        <div class="proj-person-name">{{ p.name }}</div>
                        <div class="proj-person-role">{{ p.project_role }}</div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "ProjectFullInfo",
        computed: {
            ...mapGetters(['getProjectInfo']),
            getSpecs(){
                let specs = '';
                if (this.getProjectInfo[0]){
                    this.getProjectInfo[0].specs.forEach((item, i) => {
                        specs = specs + item.name;
                        console.log(i)
                        if (i < this.getProjectInfo[0].specs.length - 1)
                            specs = specs + ', '
                    })
                }
                return specs
            }
        },
        mounted() {
            this.$store.dispatch('getProject', this.$route.params.project_id);
            window.scrollTo({
                top: 0,
                behavior: "instant"
            });
        }
    }
</script>

<style scoped>

</style>