<template>
    <div class="project-card" @click="toFullInfo(proj.id)">
        <div class="project-card__img-container">
            <img v-if="proj.img" alt="" :src="'https://api.styleru.org' + proj.img" class="project-card-img">
            <img v-else alt="" src="../../assets/projects/Project_management.jpg" class="project-card-img">
        </div>
        <div class="project-card-text">
            <div class="project-card-title">{{ proj.name }}</div>
            <div class="project-card-description">{{ proj.short_description}}</div>
            <div class="project-card-year">{{ proj.date_end.slice(0, 4) }}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProjectCard",
        props: ['proj'],
        methods: {
            toFullInfo(id){
                this.$router.push('project/' + id);
            }
        }
    }
</script>

<style scoped>

</style>