<template>
 <div class="course-card" :style="{background: `url(${img}) center center`, backgroundSize: 'cover'}" @click="toCourseMobile">
   <div class="course-card__title">{{ title }}</div>
   <div class="course-card__text">
     {{ description }}
     <div class="course-card__link" @click="toCourse">На страницу курса <div class="right-arrow"></div></div>
   </div>
 </div>
</template>

<script>
export default {
  name: "CourseCard",
  props: ['title', 'description', 'img'],
  components: {

  },
  data() {
    return {

    }
  },
  methods: {
    toCourse(){
      let url = this.title.split(' ').map(i => i.toLowerCase()).join('-');
      this.$router.push('/courses/' + url);
    },
    toCourseMobile(){
      if (window.innerWidth < 500){
        let url = this.title.split(' ').map(i => i.toLowerCase()).join('-');
        this.$router.push('/courses/' + url);
      }
    },

  },
  mounted() {

  }

}
</script>

<style scoped>

</style>