<template>
  <div class="management" :style="{background: `url(${img}) center center`, backgroundSize: 'cover'}" @click="toCourseMobile">
    <div class="course-card__title hidden">Project management</div>
    <div class="management__text">
      <div class="management__title">Project Management</div>
      Пройдя курс Project-менеджмента, вы разберётесь, как управлять проектами: от планирования до первых результатов
      запуска. Вы подробно изучите все этапы управления и по окончании курса сможете самостоятельно вести проекты.
      <div class="course-card__link" @click="toCourse">На страницу курса<div class="right-arrow"></div></div>

    </div>
  </div>
</template>

<script>
export default {
  name: "Management",
  props: ['img'],
  methods: {
    toCourse(){
      let url = 'project-management';
      this.$router.push('/courses/' + url);
    },
    toCourseMobile(){
      if (window.innerWidth < 500){
        let url = 'project-management';
        this.$router.push('/courses/' + url);
      }
    },
  }
}
</script>

<style scoped>

</style>