
.course-card{
    width: 35vw;
    /*height: 50vw;*/
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #eee;
    overflow: hidden;
}
.course-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc((100vw - 320px) / (1440 - 320) * (50 - 24) + 24px);
    font-weight: 700;
    color: white;
    width: 100%;
    height: 25vw;
    padding: 0 15px;
    text-align: center;
    line-height: 55px;
}
.course-card__text{
    width: 100%;
    height: 70%;
    min-height: 25vw;
    background-color: white;
    padding: 3vw;
    font-size: calc((100vw - 320px) / (1440 - 320) * (20 - 13) + 13px);
    line-height: calc((100vw - 320px) / (1440 - 320) * (28 - 15) + 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course-card__link{
    margin-top: 4vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.right-arrow{
    width: calc((100vw - 320px) / (1440 - 320) * (40 - 30) + 30px);
    height: calc((100vw - 320px) / (1440 - 320) * (15 - 11) + 11px);
    background: url("../../assets/course/right-arrow.jpg");
    background-size: cover;
    margin-left: 20px;
}

@media (max-width: 1100px) {
    .course-card__text{
        min-height: 28vw;
    }
}
@media (max-width: 970px) {
    .course-card__text{
        min-height: 30vw;
    }
}
@media (max-width: 825px) {
    .course-card__text{
        min-height: 35vw;
    }
}

@media (max-width: 700px) {
    .course-card{
        width: 70vw;
        margin-bottom: 20px;
    }
    .course-card__text{
        padding: 30px;
        min-height: 25vw;
    }
}

@media (max-width: 500px) {
    .course-card__text{
        display: none;
    }
    .course-card__title{
        height: 70vw;
        cursor: pointer;
    }
}