
.courses{
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    margin-bottom: 8vh;
}
.courses__main-title{
    font-size: calc((100vw - 320px) / (1440 - 320) * (64 - 36) + 36px);
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 42px;
}
.courses__title{
    font-size: calc((100vw - 320px) / (1440 - 320) * (36 - 24) + 24px);
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    line-height: calc((100vw - 320px) / (1440 - 320) * (48 - 30) + 30px);
}
.courses__subtitle{
    font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 16) + 16px);
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 75px;
    text-align: center;
    width: 60vw;
    line-height: calc((100vw - 320px) / (1440 - 320) * (36 - 16) + 16px);
}
.courses__block{
    width: 74vw;
    display: flex;
    justify-content: space-between;
}
.courses__links{
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.courses__link-item{
    text-decoration: none !important;
    color: black !important;
    cursor: pointer;
    padding: calc((100vw - 320px) / (1440 - 320) * (20 - 10) + 10px) calc((100vw - 320px) / (1440 - 320) * (30 - 20) + 20px);
    border: 2px solid #F18C19;
    border-radius: 15px;
    font-size: calc((100vw - 320px) / (1440 - 320) * (18 - 14) + 14px);
    font-weight: 500;
    margin: calc((100vw - 320px) / (1440 - 320) * (10 - 7) + 7px) calc((100vw - 320px) / (1440 - 320) * (20 - 10) + 10px);
}
.courses__description{
    width: 70vw;
    text-align: center;
    margin-bottom: 30px;
    font-size: calc((100vw - 320px) / (500 - 320) * (18 - 16) + 16px);
    display: none;
}


@media (max-width: 700px) {
    .courses__block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courses__title{
        margin-top: 70px;
        margin-bottom: 40px;
    }
    .courses__subtitle{
        margin-bottom: 40px;
        width: 80%;
        display: none;
    }
    .courses__links{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .courses__description{
        display: flex;
        justify-content: center;
    }
}
