
.management{
    width: 74vw;
    display: flex;
    /*flex-direction: row-reverse;*/
    align-items: flex-start;
    background: url("../../assets/course/courseBackgnd.png");
    background-size: cover;
    border-radius: 40px;
    box-shadow: 0 0 20px #eee;
    overflow: hidden;
    margin-bottom: 20px;
}
.management__text{
    width: 60%;
    background-color: white;
    padding: 4vw 7vw;
    font-size: calc((100vw - 320px) / (1440 - 320) * (20 - 12) + 12px);
    line-height: calc((100vw - 320px) / (1440 - 320) * (28 - 15) + 15px);
    display: flex;
    flex-direction: column;
}
.management__title{
    font-size: calc((100vw - 320px) / (1440 - 320) * (50 - 28) + 28px);
    font-weight: 700;
    margin-bottom: 4vw;
    line-height: 60px;
}
.hidden{
    display: none;
}
@media (max-width: 500px) {
    .management__text{
        display: none;
    }
    .hidden{
        display: flex;
    }
    .management{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 70vw;
    }
}