<template>
  <swiper class="swiper" :options="swiperOptionCompany" v-if="getWidth">
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/альфа_банк.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/сбер.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/мегафон.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/маккинзи.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/яндекс.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/мтс.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/best_doctors.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/ey.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/mail.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/qlean.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/sap.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/skyeng.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/касперский.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/ситимобил.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/сколково.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/тинькофф.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/третье_мнение.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/ниу_вшэ.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/делойт.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/втб.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/гугл.png" class="main__logo-img">
    </div></swiper-slide>
    <div class="swiper-button-prev" slot="button-prev"></div>
    <div class="swiper-button-next" slot="button-next"></div>
  </swiper>
  <swiper class="swiper" :options="swiperOptionCompanyMobile" v-else>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/альфа_банк.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/сбер.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/мегафон.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/маккинзи.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/яндекс.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/мтс.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/best_doctors.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/ey.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/mail.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/qlean.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/sap.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/skyeng.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/касперский.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/ситимобил.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/сколково.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/тинькофф.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/третье_мнение.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/ниу_вшэ.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/делойт.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/втб.png" class="main__logo-img">
    </div></swiper-slide>
    <swiper-slide><div class="main__logo">
      <img src="../../assets/main/companies/гугл.png" class="main__logo-img">
    </div></swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  name: "mainCompanies",
  components: {
    SwiperSlide,
    Swiper
  },
  data(){
    return{
      swiperOptionCompany: {
        slidesPerView: 3,
        slidesPerColumn: 2,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      swiperOptionCompanyMobile: {
        slidesPerView: 2,
        slidesPerColumn: 2,
        spaceBetween: 10,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      },
    }
  },
  computed: {
    getWidth(){
      console.log(window.innerWidth)
      return window.innerWidth >= 768
    }
  }
}
</script>

<style lang="scss" scoped>

.swiper {
  height: 35vw;
  width: 97vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  .swiper-slide {
    height: 16vw;
    display: flex;
    align-items: center;
  }
}
.swiper-wrapper{
  width: 95vw !important;
}

@media (max-width: 768px) {
  .swiper{
    height: 50vw;
    width: 103vw;
    //margin-top: 30px;

    .swiper-slide {
      height: 20vw;
      display: flex;
      align-items: center;
    }

  }
}

</style>