<template>
  <div class="main__project">
    <div class="main__project-img"></div>
    <div class="main__project-text">
      <div class="main__project-title">Frontosaur</div>
      <div class="main__project-info">Краткое описание проекта, например, лендинг для благотворительной организации по
        поддержке бездомных животных. </div>
    </div>
  </div>
</template>

<script>
export default {
name: "mainProjects"
}
</script>

<style scoped>

</style>