<template>
  <div style="display: flex; flex-direction: column; align-items: center">
    <div class="contacts">

      <div class="contacts__info">
        <div class="contacts__address">Москва, Шаболовка, дом 26, строение 2, аудитория 3103</div>
        <div>
          <div class="contacts__text">+7 (916) 882-92-61</div>
          <div class="contacts__text">info@styleru.org</div>
        </div>

        <div>
          <div class="contacts__text">Подписывайтесь на наши соц. сети:</div>
          <div class="contacts__social">
            <div class="contacts__social-icon" @click="toSocial('https://www.instagram.com/styleru_org/')">
              <img style="height: 100%;" src="../assets/ru_logos/inst.jpg">
            </div>
            <div class="contacts__social-icon" @click="toSocial('https://t.me/styleru_org')">
              <img style="height: 100%;" src="../assets/ru_logos/Telegram_Messenger.png">
            </div>
            <div class="contacts__social-icon" @click="toSocial('https://vk.com/styleru')">
              <img style="height: 100%; width: 50px" src="../assets/ru_logos/vk-1.jpg">
            </div>
            <div class="contacts__social-icon" @click="toSocial('https://www.facebook.com/styleru.org')">
              <img style="height: 100%; width: 50px" src="../assets/ru_logos/Facebook-Logo.png">
            </div>
            <div class="contacts__social-icon"
                 @click="toSocial('https://www.youtube.com/channel/UC1Cc7jrELikVr3Oz4AMouxg')">
              <img style="height: 100%; width: 50px" src="../assets/ru_logos/youtube.jpg">
            </div>
          </div>
        </div>


      </div>

      <div class="contacts__map" style="height: calc((100vw - 320px) / (1440 - 320) * (540 - 224) + 224px);">
        <iframe style="height: 100%; width: 100%" src="https://yandex.ru/map-widget/v1/?um=constructor%3Adafe98669f2b50c376f808c290b875e69fb89fb74ce8713bce5e8083d318e132&amp;source=constructor" frameborder="0"></iframe>
      </div>

    </div>

    <ProjectOrder></ProjectOrder>
  </div>
</template>

<script>

import ProjectOrder from "@/views/projects/ProjectOrder";

export default {
  name: "Contacts",
  components: {
    ProjectOrder

  },
  methods: {
    toSocial(url) {
      document.location.href = url
    }
  },
  mounted() {
    window.scrollTo({
      top: 0,
      behavior: "instant"
    });
  }
}
</script>

<style scoped>
.map-container {
  height: 500px;
}
</style>