<template>
  <div class="courses container">
    <div class="courses__main-title">Курсы</div>
    <div class="courses__subtitle">Пара предложений о наших курсах, направлениях, продолжительности или чем-то таком.</div>
    <div class="courses__links container">
      <div @click="toBlock('#web')" class="courses__link-item">Веб-разработка</div>
      <div @click="toBlock('#mobile')" class="courses__link-item">Мобильная разработка</div>
      <div @click="toBlock('#design')" class="courses__link-item">Дизайн</div>
      <div @click="toBlock('#marketing')"  class="courses__link-item">Digital маркетинг</div>
      <div @click="toBlock('#management')"  class="courses__link-item">Управление проектами</div>
    </div>

    <div id="web" class="courses__title">Веб разработка</div>
    <div class="courses__subtitle">Можно выбрать Frontend или Backend разработку, а также записаться
      на оба направления и стать Full-stack разработчиком</div>
    <div class="courses__block">
      <course-card title="Web Frontend" :img="courseImgs[0]" :description="courseDescription[0]"></course-card>
      <div class="courses__description">{{ getShortDescription('web-frontend') }}</div>
      <course-card title="Web Backend" :img="courseImgs[1]" :description="courseDescription[1]"></course-card>
      <div class="courses__description">{{ getShortDescription('web-backend') }}</div>
    </div>

    <div id="mobile" class="courses__title">Мобильная разработка</div>
    <div class="courses__subtitle">Выбирай платформу по душе и создавай классные приложения</div>
    <div class="courses__block">
      <course-card title="Android" :img="courseImgs[2]" :description="courseDescription[2]"></course-card>
      <div class="courses__description">{{ getShortDescription('android') }}</div>
      <course-card title="IOS" :img="courseImgs[3]" :description="courseDescription[3]"></course-card>
      <div class="courses__description">{{ getShortDescription('ios') }}</div>
    </div>

    <div id="design" class="courses__title">Дизайн</div>
    <div class="courses__subtitle">Два параллельных потока позволят заниматься тем, что интересно именно тебе -
    создавать интерфейсы сайтов или делать брендинги для компаний</div>
    <div class="courses__block">
      <course-card title="Web-дизайн" :img="courseImgs[4]" :description="courseDescription[4]"></course-card>
      <div class="courses__description">{{ getShortDescription('web-дизайн') }}</div>
      <course-card title="Graph-дизайн" :img="courseImgs[5]" :description="courseDescription[5]"></course-card>
      <div class="courses__description">{{ getShortDescription('graph-дизайн') }}</div>
    </div>

    <div id="marketing" class="courses__title">Digital маркетинг</div>
    <div class="courses__subtitle">Выбирай, что нравится - создавать контент или анализировать показатели</div>
    <div class="courses__block">
      <course-card title="Контент-маркетинг" :img="courseImgs[6]" :description="courseDescription[6]"></course-card>
      <div class="courses__description">{{ getShortDescription('контент-маркетинг') }}</div>
      <course-card title="Маркетинговая аналитика" :img="courseImgs[7]" :description="courseDescription[7]"></course-card>
      <div class="courses__description">{{ getShortDescription('маркетинговая-аналитика') }}</div>
    </div>

    <div id="management" class="courses__title">Управление проектами</div>
    <div class="courses__subtitle">Научим управлять разработкой, дизайном и маркетинговыми проектами</div>
    <management :img="courseImgs[8]"></management>
    <div class="courses__description">{{ getShortDescription('project-management') }}</div>
  </div>
</template>

<script>
import CourseCard from "@/views/allCourses/CourseCard";
import Management from "@/views/allCourses/Management";
import { description } from "@/const/shortDescription";

export default {
  name: "Courses",
  components: {
    CourseCard,
    Management
  },
  data(){
    return {
      courseImgs: [
          require("../assets/courses/web-frontend.jpg"),
          require("../assets/courses/web-backend.jpg"),
          require("../assets/courses/android.jpg"),
          require("../assets/courses/ios.jpg"),
          require("../assets/courses/web-design.jpg"),
          require("../assets/courses/graph-design.jpg"),
          require("../assets/courses/kontent-mar.jpg"),
          require("../assets/courses/marketing-analit.jpg"),
          require("../assets/courses/Project_management.jpg"),
      ],
      courseDescription: [
          'Вы изучите основы JS, JQuery, HTML, CSS, научитесь искать информацию и работать со сторонними библиотеками. ' +
          'Освоив это, вы приступите к Frontend Advanced и расширите уже имеющиеся знания.',
          'На Web Backend вы разработаете собственную социальную сеть, изучив Django Framework и базы данных. Курс также' +
          ' включает в себя работу с внешним API, углубленное изучение Python и инфраструктуры backend-разработки.',
          'На этом курсе вы создадите несколько приложений на Android, научитесь работать с MotionLayout, ' +
          'Kotlin Coroutines, RXJava 2, а также разберетесь в многопоточности и Dependency Injection.',
          'Пройдя курс iOS, вы научитесь создавать многопоточные приложения с сетевыми взаимодействиями, кэшированием' +
          ' данных, грамотной архитектурой и продвинутым UI. Помимо этого, вы углубитесь в iOS SDK и узнаете немного ' +
          'о Core Data и Realm.',
          'На Web-дизайне вы поработаете в Photoshop и Figma, научитесь делать анимацию элементов с помощью ' +
          'Adobe AfterEffects, Figma Animate и Cinema 4D. Помимо этого вы разберетесь в работе ReadyMag.',
          'Курс Graph-дизайн сфокусирован на работе с продуктами Adobe: Photoshop, Illustrator, Indesign и AfterEffects.' +
          ' Вы узнаете об основах типографики, маркетинга, презентации и научитесь создавать мерч, печатные материалы' +
          ' и упаковку.',
          'Данный курс сфокусирован на обучении всем азам контент-маркетинга: копирайтинг, дизайн, SMM и Target.' +
          ' Бонусом к этому вы обретете и дополнительные знания, например, как создавать продающий лендинг на Tilda.',
          'На маркетинговой аналитике вы освоите работу с сервисами рекламных объявлений, CRM, веб-аналитику и сквозную ' +
          'аналитику, изучите A/B тестирование и сервисы создания сайтов.',

      ]
    }
  },
  methods: {
    getShortDescription(id) {
      return description[id]
    },
    toBlock(id) {
      const elem = document.querySelector(id);
      window.scrollTo({
        top: elem.offsetTop - 100,
        behavior: "smooth"
      });
    }
  },
  mounted() {
    window.scrollTo({
      top: 0,
      behavior: "instant"
    });
  }
}
</script>

<style scoped>

</style>