<template>
  <b-container>
    <div class="text-center mt-5 mb-3"><h1>Курсы</h1></div>
    <div class="text-center description_text">Пара предложений о наших курсах, направлениях, продолжительности или
      чем-то таком.
    </div>
    <b-row cols="11" class="d-flex justify-content-around my-5">
      <button class="button_tabs px-4 py-3 my-3"><a href="#web"> Веб-разработка</a></button>
      <button class="button_tabs px-4 py-3 my-3"><a href="#mob"> Мобильная разработка</a></button>
      <button class="button_tabs px-4 py-3 my-3"><a href="#des">Дизайн</a></button>
      <button class="button_tabs px-4 py-3 my-3"><a href="#mar">Digital маркетинг</a></button>
      <button class="button_tabs px-4 py-3 my-3"><a href="#men">Управление проектами</a></button>
    </b-row>
    <div class="theme_headers text-center mt-5 mb-3 pt-3" id="web">Веб-разработка</div>
    <div class="text-center description_text">Пара предложений о наших курсах, направлениях, продолжительности или
      чем-то таком.
    </div>
    <div class="d-flex flex-row justify-content-around m-4">
      <div class="card d-flex flex-column col-5 p-0">
        <div class="name py-5" fluid>
          <h1 class="m-5 py-5 text-center" style="color: white">Web Frontend</h1>
        </div>
        <div class="p-5 card_description">
          Равным образом укрепление и развитие структуры
          в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание новых
          предложений.
        </div>
        <div class="to_course px-5 pb-4">
          <router-link to="/courses/WebFrontend">
            На страницу курса
            <b-icon-arrow-right></b-icon-arrow-right>
          </router-link>
        </div>
      </div>
      <div class="card d-flex flex-column col-5 p-0">
        <div class="name py-5" fluid>
          <h1 class="m-5 py-5 text-center" style="color: white">Web Backend</h1>
        </div>
        <div class="p-5 card_description">
          Равным образом укрепление и развитие структуры
          в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание новых
          предложений.
        </div>
        <div class="to_course px-5 pb-4">
          <router-link to="/courses/WebBackend">
            На страницу курса
            <b-icon-arrow-right></b-icon-arrow-right>
          </router-link>
        </div>
      </div>
    </div>

    <div class="theme_headers text-center mt-5 mb-3 pt-3" id="mob">Мобильная разработка</div>
    <div class="text-center description_text">Пара предложений о наших курсах, направлениях, продолжительности или
      чем-то таком.
    </div>
    <div class="d-flex flex-row justify-content-around m-4">
      <div class="card d-flex flex-column col-5 p-0">
        <div class="name py-5" fluid>
          <h1 class="m-5 py-5 text-center" style="color: white">IOS</h1>
        </div>
        <div class="p-5 card_description">
          Равным образом укрепление и развитие структуры
          в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание новых
          предложений.
        </div>
        <div class="to_course px-5 pb-4">
          <router-link to="/courses/IOS">
            На страницу курса
            <b-icon-arrow-right></b-icon-arrow-right>
          </router-link>
        </div>
      </div>
      <div class="card d-flex flex-column col-5 p-0">
        <div class="name py-5" fluid>
          <h1 class="m-5 py-5 text-center" style="color: white">Android</h1>
        </div>
        <div class="p-5 card_description">
          Равным образом укрепление и развитие структуры
          в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание новых
          предложений.
        </div>
        <div class="to_course px-5 pb-4">
          <router-link to="/courses/Android">
            На страницу курса
            <b-icon-arrow-right></b-icon-arrow-right>
          </router-link>
        </div>
      </div>
    </div>

    <div class="theme_headers text-center mt-5 mb-3 pt-3" id="des">Дизайн</div>
    <div class="text-center description_text">Пара предложений о наших курсах, направлениях, продолжительности или
      чем-то таком.
    </div>
    <div class="d-flex flex-row justify-content-around m-4">
      <div class="card d-flex flex-column col-5 p-0">
        <div class="name py-5" fluid>
          <h1 class="m-5 py-5 text-center" style="color: white">Web-дизайн</h1>
        </div>
        <div class="p-5 card_description">
          Равным образом укрепление и развитие структуры
          в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание новых
          предложений.
        </div>
        <div class="to_course px-5 pb-4">
          <router-link to="/courses/WebDesign">
            На страницу курса
            <b-icon-arrow-right></b-icon-arrow-right>
          </router-link>
        </div>
      </div>
      <div class="card d-flex flex-column col-5 p-0">
        <div class="name py-5" fluid>
          <h1 class="m-5 py-5 text-center" style="color: white">Graph-дизайн</h1>
        </div>
        <div class="p-5 card_description">
          Равным образом укрепление и развитие структуры
          в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание новых
          предложений.
        </div>
        <div class="to_course px-5 pb-4">
          <router-link to="/courses/GraphDesign">
            На страницу курса
            <b-icon-arrow-right></b-icon-arrow-right>
          </router-link>
        </div>
      </div>
    </div>
    <div class="theme_headers text-center mt-5 mb-3 pt-3" id="mar">Digital маркетинг</div>
    <div class="text-center description_text">Пара предложений о наших курсах, направлениях, продолжительности или
      чем-то таком.
    </div>
    <div class="d-flex flex-row justify-content-around m-4">
      <div class="card d-flex flex-column col-5 p-0">
        <div class="name py-5 px-0" fluid>
          <h1 class="my-5 py-5 text-center mx-0 px-0" style="color: white">Контент-маркетинг</h1>
        </div>
        <div class="p-5 card_description">
          Равным образом укрепление и развитие структуры
          в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание новых
          предложений.
        </div>
        <div class="to_course px-5 pb-4">
          <router-link to="/courses/ContentMarketing">
            На страницу курса
            <b-icon-arrow-right></b-icon-arrow-right>
          </router-link>
        </div>
      </div>
      <div class="card d-flex flex-column col-5 p-0">
        <div class="name py-5" fluid>
          <h1 class="my-5 py-4 text-center mx-0 px-0 align-center" style="color: white; min-height: 145px">Маркетинговая
            аналитика</h1>
        </div>
        <div class="p-5 card_description">
          Равным образом укрепление и развитие структуры
          в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание новых
          предложений.
        </div>
        <div class="to_course px-5 pb-4">
          <router-link to="/courses/analytics">
            На страницу курса
            <b-icon-arrow-right></b-icon-arrow-right>
          </router-link>
        </div>
      </div>
    </div>
    <div class="theme_headers text-center mt-5 mb-3 pt-3" id="men">Управление проектами</div>
    <div class="text-center description_text">Пара предложений о наших курсах, направлениях, продолжительности или
      чем-то таком.
    </div>
    <div class="card d-flex flex-row col-12 my-5 p-0">
      <div class="col-6 p-5">
        <h1 class="px-5">Project management</h1>
        <div class="p-5 card_description">
          Равным образом укрепление и развитие структуры
          в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание новых
          предложений.
        </div>
        <div class="to_course px-5 pb-4">
          <router-link to="/courses/ProjectManagement">
            На страницу курса
            <b-icon-arrow-right></b-icon-arrow-right>
          </router-link>
        </div>
      </div>

      <div class="name p-0 col-6" style="border-radius: 0px 40px 40px 0px;" fluid>

      </div>

    </div>
    <router-view></router-view>
  </b-container>
</template>
<style scoped>

.description_text {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.button_tabs {
  border: 2px solid #F18C19;
  outline-color: #F18C19;
  border-radius: 15px;
  outline: none;
  color: black;
  text-decoration: none;
}

.theme_headers {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.card {
  filter: drop-shadow(0px 3px 60px rgba(17, 101, 94, 0.1));
  border-radius: 40px;
}

.name {
  background-image: url("../assets/back-orange.svg");
  background-repeat: space repeat;
  border-radius: 40px 40px 0px 0px;
}

.card_description {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.to_course {
  font-size: 18px;
  font-style: bold;
  font-weight: 500;
  letter-spacing: 0.1em;
}
</style>