<template>
    <b-container fluid>
        <b-row class="baner p-5 my-5" fluid align-v="center">
            <b-col xl="6" md="7"><div class="pl-5 pr-0 mt-5 mb-5 d-flex flex-column"><h1>Бизнес в Стиле .RU</h1><h4 class="mt-4">Школа digital профессий в НИУ ВШЭ</h4></div></b-col>
            <b-col md="5" xl="6" class=""><div class="d-flex justify-content-center"><img src="@/assets/main_page_picture.svg" style="width: 100%"></div></b-col>
        </b-row>
        <div class="text-center"><h2>Курсы</h2></div>
        <b-row>
            <b-col md="4">
                <div class="d-flex flex-column align-items-between">
                    <div class="card text-center mb-5" style="border: none">
                        <img src="@/assets/courses/front.svg" class="p-5" style=" box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <div class="mt-2"><h4>Web Frontend</h4></div>
                    </div>
                    <div class="card text-center mb-5" style="border: none">
                        <img src="@/assets/courses/apple.svg" class="p-5" style=" box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <div class="mt-2"><h4>IOS</h4></div>
                    </div>
                    <div class="card text-center mb-5" style="border: none">
                        <img src="@/assets/courses/content-marketing.svg" class="p-5" style=" box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <div class="mt-2"><h4>Контент маркетинг</h4></div>
                    </div>
                </div>
            </b-col>
            <b-col md="4">
                 <div class="d-flex flex-column align-items-between">
                    <div class="card text-center mb-5" style="border: none">
                        <img src="@/assets/courses/backend.svg" class="p-5" style=" box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <div class="mt-2"><h4>Web Backend</h4></div>
                    </div>
                    <div class="card text-center mb-5" style="border: none">
                        <img src="@/assets/courses/web-design.svg" class="p-5" style=" box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <div class="mt-2"><h4>Web дизайн</h4></div>
                    </div>
                    <div class="card text-center mb-5" style="border: none">
                        <img src="@/assets/courses/marketing-analitics.svg" class="p-5" style=" box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <div class="mt-2"><h4>Маркетинговая аналитика</h4></div>
                    </div>
                </div>
   
            </b-col>
            <b-col md="4">
                <div class="d-flex flex-column align-items-between">
                    <div class="card text-center mb-5" style="border: none">
                        <img src="@/assets/courses/android.svg" class="p-5" style=" box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <div class="mt-2"><h4>Android</h4></div>
                    </div>
                    <div class="card text-center mb-5" style="border: none">
                        <img src="@/assets/courses/graph-design.svg" class="p-5" style=" box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <div class="mt-2"><h4>Graph дизайн</h4></div>
                    </div>
                    <div class="card text-center mb-5" style="border: none">
                        <img src="@/assets/courses/project-manager.svg" class="p-5" style=" box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                        <div class="mt-2"><h4>Project management</h4></div>
                    </div>
                </div>
            </b-col>
        </b-row>
        <div class="text-center"><h2>Проекты студентов и выпускников</h2></div>
        <b-row>
           <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active d-flex flex-row">
                    <div class="col-6">
                        <img src="@/assets/projects/frontosaurScreen.svg" class="d-block w-100">
                    </div>
                    <div class="col-6 p-5 d-flex flex-column justify-content-around">
                        <div >
                            <h4>Frontosaur</h4>
                        <div class="project_description mt-3">Краткое описание проекта, например, лендинг для благотворительной организации по поддержке бездомных животных</div>
                        </div>
                        <div class="button-group d-flex flex-row justify-content-between h2 mt-5">
                            <div class="d-inline-flex">
                                <b-icon-chevron-left></b-icon-chevron-left>
                            <div class="mx-2">{{slide}} / 4</div>
                            <b-icon-chevron-right></b-icon-chevron-right>
                            </div>
                            
                            <div class="all_projects my-auto">Все проекты
                                <b-icon-arrow-right></b-icon-arrow-right>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                     <img src="@/assets/projects/frontosaurScreen.svg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="@/assets/projects/frontosaurScreen.svg" class="d-block w-100">
                </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        </b-row>
        <div class="text-center"><h2>Где работают выпускники</h2></div>
        <b-row>
            <div class="d-flex justify-content-between flex-wrap">
                <div class="example text-center m-2 mb-5" style="width: 200px; height: 120px; background-color: grey">Лого</div>
                <div class="example text-center m-2 mb-5" style="width: 200px; height: 120px; background-color: grey">Лого</div>
                <div class="example text-center m-2 mb-5" style="width: 200px; height: 120px; background-color: grey">Лого</div>
                <div class="example text-center m-2 mb-5" style="width: 200px; height: 120px; background-color: grey">Лого</div>
                <div class="example text-center m-2 mb-5" style="width: 200px; height: 120px; background-color: grey">Лого</div>
                <div class="example text-center m-2 mb-5" style="width: 200px; height: 120px; background-color: grey">Лого</div>
                <div class="example text-center m-2 mb-5" style="width: 200px; height: 120px; background-color: grey">Лого</div>
                <div class="example text-center m-2 mb-5" style="width: 200px; height: 120px; background-color: grey">Лого</div>
            </div>
        </b-row>
        <b-row class="osh p-5">
            <b-col md="8"><div class="d-flex flex-column m-5" style="color: white"><h1>Осенняя Школа<br>Бизнес в Стиле .RU<br>2020</h1><div class="big_description">Краткое описание в 1 предложении что такое Осенняя школа</div></div></b-col>
            <b-col md="3" align-self="center"><b-button href="#" class="orange-button px-3 py-3 mt-0 m-4" style=" border-radius: 20px;"><h4 style="color: white; letter-spacing: 0.1em">Записаться на ОШ</h4></b-button></b-col>
        </b-row>
    </b-container>
</template>
<script>
  export default {
      name: 'MainPage',
   data() {
       return{
       slide: '1'
       }
   }
  }
</script>
<style>
.osh{
    background-image: url('../assets/back-orange.svg');
    background-repeat: repeat-y;
    background-size: 100%;
    

}
</style>
