<template>
<b-container fluid>
    <b-row class="baner pt-3" fluid>
            <b-col cols="12"><div class=" d-flex flex-column"><h1>Бизнес в Стиле .RU</h1><div class="description_of_school">Школа digital профессий в НИУ ВШЭ</div></div></b-col>
            <b-col cols="12" class=""><div class="d-flex justify-content-center"><img src="@/assets/main_page_picture.svg" style="width: 100%"></div></b-col>
        </b-row>
        <div class="text-center mt-5 mb-3"><h2>Курсы</h2></div>
    <carousel :nav="false">
        <div class="item col-12" data-merge="3" style="">
            <img class=" p-5 mx-auto mx-auto" src="@/assets/courses/front.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Web Frontend</h4>
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/backend.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Web Backend</h4>
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/apple.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">IOS</h4>
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/android.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Android</h4>
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/web-design.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Web Дизайн</h4>
            
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/graph-design.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Graph Дизайн</h4>
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/content-marketing.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Контент Маркетинг</h4>
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/project-manager.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Project Management</h4>
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/marketing-analitics.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Маркетинговая Аналитика</h4>
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/content-marketing.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Контент Маркетинг</h4>
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" p-5 mx-auto" src="@/assets/courses/content-marketing.svg" style="width: 75%; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
            <h4 class="mt-3  text-center">Контент Маркетинг</h4>
        </div>
    </carousel>
    <div class="text-center mt-5 mb-3"><h2>Проекты студентов и выпускников</h2></div>
    <div class=" m-3">
        
        <h4>Frontosaur</h4>
        <img src="@/assets/projects/frontosaurScreen.svg" class="d-block w-100 mt-3 p-0">
        <div class="project_description mt-3">Краткое описание проекта, например, лендинг для благотворительной организации по поддержке бездомных животных</div>
        <div class="button-group d-flex flex-row justify-content-between h2 mt-4">
            <div class="all_projects" style="">Все проекты
                <b-icon-arrow-right></b-icon-arrow-right>
                </div>
            </div>
    </div>
    <div class="text-center my-5"><h2>Где работают выпускники</h2></div>
    <carousel :nav="false">
        <div class="item col-12" data-merge="3">
            <img class=" mx-auto" src="@/assets/backgrounds/grey.jpg">
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" mx-auto" src="@/assets/backgrounds/grey.jpg">
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" mx-auto" src="@/assets/backgrounds/grey.jpg">
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" mx-auto" src="@/assets/backgrounds/grey.jpg">
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" mx-auto" src="@/assets/backgrounds/grey.jpg">
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" mx-auto" src="@/assets/backgrounds/grey.jpg">
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" mx-auto" src="@/assets/backgrounds/grey.jpg">
        </div>
        <div class="item col-12" data-merge="3">
            <img class=" mx-auto" src="@/assets/backgrounds/grey.jpg">
        </div>
        
    </carousel>
<b-row class="osh p-5">
    <b-col cols="12" style="color: white">
        <h1 style="font-size: 36px; line-height: 54px;">Осенняя<br> Школа<br>2020</h1>
    </b-col>
        <b-col md="4" align-self="center"><b-button href="#" class="orange-button" style=" border-radius: 20px;"><div class="button_osh">Записаться на ОШ</div></b-button></b-col>
</b-row>
</b-container>
</template>
<script>
import carousel from 'vue-owl-carousel'

export default {
    components: { carousel },
}
</script>
<style scoped>
.osh{
    background-image: url('../assets/backgrounds/backOshMob.svg');
}
</style>