<template>
  <div class="main">
    <div class="main__top-block container">
      <div class="main__top-text">
        <div class="main__top-title">Бизнес в стиле .RU</div>
        <div class="main__subtitle" style="padding-left: calc((100vw - 320px) / (1440 - 320) * (3 - 1) + 1px); height: auto;"> Школа Digital профессий</div>
      </div>
      <div class="main__top-picture"></div>
    </div>
    <div class="main__title"></div>

    <div class="main__title">Курсы</div>
    <div class="main__courses-list container" v-if="getWidth">
      <div class="main__course">
        <div class="main__course-img-container">
          <img alt="main__page" src="../assets/main/MainPageImg.png" class="main__course-img">
        </div>
        <div class="main__subtitle">Web Frontend</div>
      </div>
      <div class="main__course">
        <div class="main__course-img-container">
          <img alt="main__page" src="../assets/main/backend.png" class="main__course-img">
        </div>
        <div class="main__subtitle">Web Backend</div>
      </div>
      <div class="main__course">
        <div class="main__course-img-container">
          <img alt="main__page" src="../assets/main/android.png" class="main__course-img">
        </div>
        <div class="main__subtitle">Android</div>
      </div>
      <div class="main__course">
        <div class="main__course-img-container">
          <img alt="main__page" src="../assets/main/ios.png" class="main__course-img">
        </div>
        <div class="main__subtitle">iOS</div>
      </div>
      <div class="main__course">
        <div class="main__course-img-container">
          <img alt="main__page" src="../assets/main/web_design.png" class="main__course-img">
        </div>
        <div class="main__subtitle">Web-дизайн</div>
      </div>
      <div class="main__course">
        <div class="main__course-img-container">
          <img alt="main__page" src="../assets/main/graph_design.png" class="main__course-img">
        </div>
        <div class="main__subtitle">Graph-дизайн</div>
      </div>
      <div class="main__course">
        <div class="main__course-img-container">
          <img alt="main__page" src="../assets/main/marketing.png" class="main__course-img">
        </div>
        <div class="main__subtitle">Контент-маркетинг</div>
      </div>
      <div class="main__course">
        <div class="main__course-img-container">
          <img alt="main__page" src="../assets/main/analytics.png" class="main__course-img">
        </div>
        <div class="main__subtitle">Маркетинговая аналитика</div>
      </div>
      <div class="main__course">
        <div class="main__course-img-container">
          <img alt="main__page" src="../assets/main/management.png" class="main__course-img">
        </div>
        <div class="main__subtitle">Project management</div>
      </div>
    </div>
    <swiper class="swiper" :options="swiperOptionMobile" v-else>
      <swiper-slide>
        <div class="main__course">
          <div class="main__course-img-container">
            <img alt="main__page" src="../assets/main/MainPageImg.png" class="main__course-img">
          </div>
          <div class="main__subtitle">Web Frontend</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main__course">
          <div class="main__course-img-container">
            <img alt="main__page" src="../assets/main/backend.png" class="main__course-img">
          </div>
          <div class="main__subtitle">Web Backend</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main__course">
          <div class="main__course-img-container">
            <img alt="main__page" src="../assets/main/android.png" class="main__course-img">
          </div>
          <div class="main__subtitle">Android</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main__course">
          <div class="main__course-img-container">
            <img alt="main__page" src="../assets/main/ios.png" class="main__course-img">
          </div>
          <div class="main__subtitle">Ios</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main__course">
          <div class="main__course-img-container">
            <img alt="main__page" src="../assets/main/web_design.png" class="main__course-img">
          </div>
          <div class="main__subtitle">Web дизайн</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main__course">
          <div class="main__course-img-container">
            <img alt="main__page" src="../assets/main/graph_design.png" class="main__course-img">
          </div>
          <div class="main__subtitle">Graph дизайн</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main__course">
          <div class="main__course-img-container">
            <img alt="main__page" src="../assets/main/marketing.png" class="main__course-img">
          </div>
          <div class="main__subtitle">Контент маркетинг</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main__course">
          <div class="main__course-img-container">
            <img alt="main__page" src="../assets/main/analytics.png" class="main__course-img">
          </div>
          <div class="main__subtitle">Маркетинговая аналитика</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="main__course">
          <div class="main__course-img-container">
            <img alt="main__page" src="../assets/main/management.png" class="main__course-img">
          </div>
          <div class="main__subtitle">Project management</div>
        </div>
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
    <div style="margin: 45px 0; width: 100%; height: 1px"></div>
    <div class="main__title">Проекты студентов и выпускников</div>
    <swiper class="swiper" :options="swiperOption" v-if="getWidth">
      <swiper-slide><main-projects></main-projects></swiper-slide>
      <swiper-slide><main-projects></main-projects></swiper-slide>
      <swiper-slide><main-projects></main-projects></swiper-slide>
      <swiper-slide><main-projects></main-projects></swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
      <div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>
    </swiper>
    <swiper class="swiper" :options="swiperOptionMobile" v-else>
      <swiper-slide><main-projects></main-projects></swiper-slide>
      <swiper-slide><main-projects></main-projects></swiper-slide>
      <swiper-slide><main-projects></main-projects></swiper-slide>
      <swiper-slide><main-projects></main-projects></swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
    <div style="margin: 45px 0; width: 100%; height: 1px"></div>
    <div class="main__title ">Где работают выпускники</div>
    <main-companies></main-companies>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'
import mainProjects from "@/views/newMainPage/mainProjects";
import mainCompanies from "@/views/newMainPage/mainCompanies";

export default {
  name: "newMain",
  components: {
    Swiper,
    SwiperSlide,
    mainProjects,
    mainCompanies
  },
  data(){
    return{
      swiperOption: {
        slidesPerView: 1,
        pagination: {
          el: '.swiper-pagination',
          type: 'fraction'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      swiperOptionMobile: {
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      },
    }
  },
  computed: {
    getWidth(){
      console.log(window.screen.availWidth)
      return window.screen.availWidth >= 768
    }
  },
  mounted() {
    window.scrollTo({
      top: 0,
      behavior: "instant"
    });
  }
}
</script>

<style lang="scss" scoped>

</style>