<template>
  <div class="container-md container-fluid-sm">
    <div class="row">
      <div class="col-md-6 col-sm-12 hide1">
        <div class="ml-md-5 octopus">
          <img src="../assets/notFound.svg" alt="" class="" />
        </div>
      </div>
      <div class="col-md-6 col-sm-12 mt-md-5">
        <div class="mx-3 notFound__div">
          <img src="../assets/404.svg" alt="" class="notFound__img" />
        </div>
        <div class="">
          <p
            class="my-md-5 ml-md-3 oops"
            style="color: #1d7f84; font-weight: light; line-height: 40px; font-size: calc((100vw - 768px) / (1440 - 768) * (30 - 25) + 25px);
            "
          >
            Упс..! Мы не смогли найти нужную вам страницу.
          </p>
        </div>
        <div class="d-flex align-items-end linker" style="min-height: 10vh">
          <router-link
            to="/"
            class="ml-md-3 my-md-5 link"
            style="
              font-weight: 550;
              width: auto;
              height: 20px;
              color: black;
              font-size: calc((100vw - 768px) / (1440 - 768) * (24 - 20) + 20px);
            "
            ><img src="../assets/arrow404.svg" alt="" class="mr-4" />Вернуться
            на главную
          </router-link>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="ml-md-5 hide2">
          <img src="../assets/notFound.svg" alt="" class="" />
        </div>
      </div>
    </div>
  </div>
</template>




<script>
export default {
  name: "notFound",
  data() {
    return {};
  },
};
</script>

<style scoped>
.link:hover {
  color: black;
  text-decoration: none;
}
@media (max-width: 960px) {

}
@media (max-width: 960px) {
  .oops{
    text-align: center;
    margin-top: 30px;
  }
  .hide2 {
    display: none;
  }
  .link{
    display: flex;
    justify-content: center;
  }
  .linker{
    height: 10px;
    display: flex;
    justify-content: center;
  }
  .notFound__img{
    width: 60vw;
  }
  .notFound__div{
    display: flex;
    justify-content: center;
  }
  .octopus{
    display: flex;
    justify-content: center;
  }
  .octopus img{
    width: 200px
  }
}
@media (min-width: 961px) {
  .hide1 {
    display: none;
  }
}
</style>