<template>
    <div>
        <div class="about-title">Наши кампусы</div>
        <div class="campus-container">
            <div class="campus-on-img moscow">
            </div>
            <div class="campus-info">
                <div class="campus-name">Москва</div>
                <div class="campus-text">Наш основной кампус, здесь в 2003 году все началось. Мы переезжали из здания в
                  здание, но всегда оставались в Московской Вышке. Сейчас мы управляем всей организацией именно отсюда. </div>
            </div>
        </div>
        <div class="campus-container-reverse">
            <div class="campus-on-img spb">
                <img src="../../assets/aboutUs/питер.png" alt="" class="campus-img">
            </div>
            <div class="campus-info">
                <div class="campus-name">Санкт-Петербург</div>
                <div class="campus-text">В 2020 году после победы на конкурсе поддержки студенческих иннициатив мы
                  запустились в Питерской Вышке, открыли там курс по контент маркетингу. В 2021 году будем расширяться!</div>
            </div>
        </div>
<!--        <div class="campus-container">-->
<!--            <div class="campus-on-img">-->
<!--                <img src="" alt="" class="campus-img">-->
<!--            </div>-->
<!--            <div class="campus-info">-->
<!--                <div class="campus-name">Нижний Новгород</div>-->
<!--                <div class="campus-text">Пишем о том, что будет здесь.</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="campus-container-reverse">-->
<!--            <div class="campus-on-img">-->
<!--                <img src="" alt="" class="campus-img">-->
<!--            </div>-->
<!--            <div class="campus-info">-->
<!--                <div class="campus-name">Пермь</div>-->
<!--                <div class="campus-text">Пишем о том, что будет здесь.</div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</template>

<script>
    export default {
        name: "Campus"
    }
</script>

<style scoped>

</style>