<template>
    <div class="projects-container">
        <div class="about-title">Документы</div>
        <div class="documents__line" style="margin-top: 60px"></div>
        <div class="documents__item">
            <div class="documents__name">Стратегия:</div>
            <div class="documents__download">
                <div class="documents__download-text">Cкачать</div>
                <div class="arrow-container"></div>
            </div>
        </div>
        <div class="documents__line"></div>
        <div class="documents__item">
            <div class="documents__name">Отчет о работе:</div>
            <div class="documents__download">
                <div class="documents__download-text">Cкачать</div>
                <div class="arrow-container"></div>
            </div>
        </div>
        <div class="documents__line"></div>
        <div class="documents__item">
            <div class="documents__name">Что-нибудь еще:</div>
            <div class="documents__download">
                <div class="documents__download-text">Cкачать</div>
                <div class="arrow-container"></div>
            </div>
        </div>
        <div class="documents__line" style="margin-bottom: 100px"></div>
    </div>
</template>

<script>

    export default {
        name: "Documents",
        components: {

        }
    }
</script>

<style scoped>

</style>