<template>
    <div class="projects-container">
        <div class="about-top-text">Мы - самая большая образовательная студенческая организация в НИУ ВШЭ.
          Учим студентов актуальным Digital профессиям, делаем реальные проекты в сферах разработки, маркетинга и
          дизайна, а также проводим открытые мероприятия для всех желающих. </div>
        <div class="about-short-container">
            <div class="about-short-item">
                <div class="about-short-number">200</div>
                <div class="about-short-info">участников</div>
            </div>
            <div class="about-short-item">
                <div class="about-short-number">9</div>
                <div class="about-short-info">курсов</div>
            </div>
            <div class="about-short-item last-as-item">
                <div class="about-short-number">85</div>
                <div class="about-short-info">завершенных проектов</div>
            </div>
        </div>
        <what-we-do></what-we-do>
        <leadership></leadership>
        <OurHistory></OurHistory>
        <Campus></Campus>
        <love-hse></love-hse>
        <div style="height: 200px"></div>
<!--        <Documents></Documents>-->
    </div>
</template>

<script>
    import whatWeDo from "./whatWeDo";
    import Leadership from "./Leadership";
    import Campus from "./Campus";
    import OurHistory from "./OurHistory";
    import loveHse from "./loveHse";
    // import Documents from "./Documents";

    export default {
        name: "fullAboutUs",
        components: {
            whatWeDo,
            Leadership,
            OurHistory,
            Campus,
            loveHse,
            // Documents
        },
        mounted() {
            window.scrollTo({
                top: 0,
                behavior: "instant"
            });
        }
    }
</script>

<style scoped>

</style>