<template>
    <div class="projects-container">
        <div class="about-title">Руководство</div>
        <div class="ls-subtitle">Эти люди закончили курсы Бизнес в стиле .RU, отлично проявили себя в проектах
          и теперь помогают новичкам добиться успехов в организации.</div>
        <div class="about-short-container">
            <div class="ls-item">
                <div class="ls-on-a">
                    <img src="../../assets/teachers/михаил_попов_мы.png" alt="" class="ls-avatar">
                </div>
                <div class="ls-name">Михаил Попов</div>
                <div class="ls-role">Руководитель Бизнес в стиле .RU</div>
                <div class="mt-1 ls-mail">m.popov@styleru.org</div>
            </div>
            <div class="ls-item">
                <div class="ls-on-a">
                    <img src="../../assets/teachers/полина_акимова.png" alt="" class="ls-avatar">
                </div>
                <div class="ls-name">Полина Акимова</div>
                <div class="ls-role">Технический директор</div>
                <div class="mt-1 ls-mail">p.akimova@styleru.org</div>
            </div>
            <div class="ls-item">
                <div class="ls-on-a">
                    <img src="../../assets/teachers/алена_серова_мы.png" alt="" class="ls-avatar">
                </div>
                <div class="ls-name">Алёна Серова</div>
                <div class="ls-role">Директор по маркетингу</div>
                <div class="mt-1 ls-mail">a.serova@styleru.org</div>
            </div>
            <div class="ls-item">
                <div class="ls-on-a">
                    <img src="../../assets/teachers/мария_попова.png" alt="" class="ls-avatar">
                </div>
                <div class="ls-name">Мария Попова</div>
                <div class="ls-role">HR-директор</div>
                <div class="mt-1 ls-mail">m.popova@styleru.org</div>
            </div>
            <div class="ls-item">
                <div class="ls-on-a">
                    <img src="../../assets/teachers/арсений_семенов.png" alt="" class="ls-avatar">
                </div>
                <div class="ls-name">Арсений Семенов</div>
                <div class="ls-role">Операционный директор</div>
                <div class="mt-1 ls-mail">a.semenov@styleru.org</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Leadership"
    }
</script>

<style scoped>

</style>