<template>
    <div class="projects-container">
        <div class="about-title">Любимая Вышка</div>
        <div class="lh-container">
            <div class="lh-info">
                <div class="lh-title">НИУ ВШЭ</div>
                <div class="lh-text">Университет, на базе которого находится наша организация. НИУ ВШЭ поддерживает
                  нашу работу, и мы отвечаем взаимностью. Помогали Центру поддержки студенческих инициатив: делали
                  квизы и приложение для Дня Вышки два раза.</div>
                <div class="lh-title">Высшая Школа Бизнеса</div>
                <div class="lh-text">Именно на этом факультете базируется наша организация, и именно в этом корпусе
                  находится наш кабинет. В настоящий момент продвигаем ОП "Маркетинг" и "Рыночная аналитика". Также наши
                  ребята сделали карту корпуса НИУ ВШЭ на Шаболовке.</div>
                <div class="lh-title">Бизнес-Информатика</div>
                <div class="lh-text">Многие ребята из Бизнес в стиле .RU обучались или обучаются в настоящий момент на
                  Бизнес-информатике. Мы благодарны факультету за замечательных членов организации и не остаемся в долгу:
                  например, мы делали аналитику образовательной программы.</div>
                <div class="lh-title">МИЭМ</div>
                <div class="lh-text">Бизнес в стиле .RU начало плотное сотрудничество с МИЭМ в 2020 году. За это время
                  мы успели реализовать два сайта, редизайн СО Movement на базе МИЭМ, а также провести совместную школу
                  для организаторов студенческих мероприятий Ивент Академи.</div>
            </div>
            <div class="lh-img"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "loveHse"
    }
</script>

<style scoped>

</style>