<template>
    <div class="projects-container">
        <div class="about-title">Наша история</div>
        <div class="history-img"></div>
    </div>
</template>

<script>
    export default {
        name: "OurHistory"
    }
</script>

<style scoped>

</style>