<template>
    <div class="projects-container">
        <div class="about-title">Что мы делаем</div>
        <div class="about-short-container">
            <div class="wwd-item">
                <div class="wwd-title-top">Учим</div>
                <img alt="" src="../../assets/aboutUs/learn_about.jpg" class="wwd-image">
                <div class="wwd-title">Учим</div>
                <div class="wwd-info">Студенты  обучают друг друга основам digital профессий.</div>
            </div>
            <div class="wwd-item">
                <div class="wwd-title-top">Даём проекты</div>
                <img alt="" src="../../assets/aboutUs/proj_give_about.jpg" class="wwd-image">
                <div class="wwd-title">Даём проекты</div>
                <div class="wwd-info">На реальных проектах студенты применяют полученные знания.</div>
            </div>
            <div class="wwd-item">
                <div class="wwd-title-top">Помогаем трудоустроиться</div>
                <img alt="" src="../../assets/aboutUs/c433f31ade91fe838a9732ab97848d58.png" class="wwd-image">
                <div class="wwd-title">Помогаем трудоустроиться</div>
                <div class="wwd-info">Полученные навыки позволяют устроиться в компанию уже после 1 курса.</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "whatWeDo",
        data(){
            return{
                wwd: [

                ]
            }
        }
    }
</script>

<style scoped>

</style>