.about-top-text{
    text-align: center;
    width: 70%;
    font-size: calc((100vw - 320px) / (1440 - 320) * (36 - 20) + 20px);
    margin: 100px 0 0 0;
    line-height: 1.2;
}
.about-short-container{
    width: 75vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}
.about-short-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
}
.about-short-number{
    font-size: calc((100vw - 320px) / (1440 - 320) * (100 - 75) + 75px);
    font-weight: bolder;
    line-height: 1.2;
}
.about-short-info{
    font-size: calc((100vw - 320px) / (1440 - 320) * (36 - 20) + 20px);
    font-weight: bolder;
    text-align: center;
}
.about-title{
    font-size: calc((100vw - 320px) / (1440 - 320) * (48 - 26) + 26px);
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
}

@media (max-width: 640px) {
    .about-short-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .last-as-item {
        margin-top: 20px;
    }
}