
.contacts{
    width: 65vw;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    color: black;
    margin: 100px 0;
}
.contacts__info{
    width: calc(100vw * 60 / 144);
    height: calc(100vw * 54 / 144);
    padding: calc(100vw * 4 / 144) calc(100vw * 4 / 144) calc(100vw * 8 / 144) calc(100vw * 4 / 144);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts__address{
    font-weight: bold;
    font-size: calc((100vw - 768px) / (1440 - 768) * (24 - 16) + 16px);
    padding-right: calc(100vw * 6 / 144);
    line-height: calc((100vw - 320px) / (1440 - 320) * (36 - 16) + 16px);
}
.contacts__text{
    font-size: calc((100vw - 768px) / (1440 - 768) * (24 - 16) + 16px);
    line-height: 1;
    margin-bottom: 10px;
}
.contacts__social{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.contacts__social-icon{
    width: calc(100vw * 4.64 / 144);
    height: calc(100vw * 4.64 / 144);
    border-radius: calc(100vw * 2.32 / 144);
    overflow: hidden;
    /*background-color: #999;*/
    cursor: pointer;
}
.contacts__map{
    width: calc(100vw * 84 / 144);
    height: calc(100vw * 54 / 144);
}

@media (max-width: 700px) {
    .contacts{
        display: flex;
        flex-direction: column;
        margin: 60px 0 80px 0;
    }
    .contacts__map{
        width: 100%;
        height: calc(100vw * 125 / 280);
    }
    .contacts__info{
        width: 100%;
        height: calc(100vw * 150 / 280);
    }
    .contacts__social{
        width: 70%;
    }
    .contacts__social-icon{
        width: calc((100vw - 320px) / (768 - 320) * (40 - 28) + 28px);
        height: calc((100vw - 320px) / (768 - 320) * (40 - 28) + 28px);
        border-radius: calc((100vw - 320px) / (768 - 320) * (20 - 14) + 14px);
    }
    .contacts__address{
        font-size: calc((100vw - 200px) / (320 - 200) * (16 - 14) + 14px);
    }
    .contacts__text{
        font-size: calc((100vw - 200px) / (320 - 200) * (16 - 14) + 14px);
        line-height: 1;
        margin-bottom: 10px;
    }
}

@media (max-width: 450px) {
    .contacts__info{
        height: 275px;
        padding: calc(100vw * 8 / 144);
    }
    .contacts__map{
        height: 225px;
    }
    .contacts__social{
        width: 100%;
    }
}