.poster{
    width: 100%;
    height: calc(100vw * 700 / 1440);
    background: url("../assets/course/Rectangle 3.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc((100vw - 768px) / (1440 - 768) * (84 - 40) + 40px);
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
}
.learn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-title{
    margin: 60px 0 30px 0;
    padding: 0 10px;
    width: 90vw;
    font-size: calc((100vw - 768px) / (1440 - 768) * (48 - 30) + 30px);
    font-weight: bold;
    text-align: center;
}
.learn-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 72vw;
    margin-top: 10px;
}
.lessons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.course-subtitle{
    font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 18) + 18px);
    margin-bottom: 70px;
    text-align: center;
    max-width: 80vw;
    line-height: calc((100vw - 320px) / (1440 - 320) * (36 - 18) + 18px);
}
.hr{
    width: 80vw;
    border-bottom: 1px solid #000;
}



.learn-item{
    display: flex;
    width: 33vw;
    align-items: flex-start;
    padding-bottom: 35px;
}
.learn-item__number{
    font-size: calc((100vw - 768px) / (1440 - 768) * (30 - 24) + 24px);
}
.learn-item__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
.learn-item__title{
    font-size: calc((100vw - 320px) / (1440 - 320) * (26 - 18) + 18px);
    margin-bottom: calc((100vw - 320px) / (1440 - 320) * (15 - 10) + 10px);
    font-weight: 500;
    line-height: calc((100vw - 320px) / (1440 - 320) * (28 - 21) + 21px);
}
.learn-item__text{
    font-size: calc((100vw - 768px) / (1440 - 768) * (18 - 14) + 14px);
    line-height: calc((100vw - 320px) / (1440 - 320) * (23 - 22) + 22px);
}



.question-item{
    width: 80vw;
    display: flex;
    flex-direction: column;
}
.question-item__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc((100vw - 768px) / (1440 - 768) * (25 - 18) + 18px) 20px;
    cursor: pointer;
    transition: .2s;
}
.question-item__container:hover{
    color: #189FA3;
}
.question-item__title{
    font-size: calc((100vw - 768px) / (1440 - 768) * (24 - 18) + 18px);
    font-weight: bold;
    padding-right: 15px;
}
.arrow{
    transition: 0.3s;
}
.question-item__container path{
    transition: .2s;
}
.question-item__container:hover path{
    stroke: #189FA3;
}
.rotated{
    transform: rotate(180deg);
}
.question-item__answer{
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.question-opened{
    height: auto;
}
.question-item__text{
    margin: 5px 20px 25px 20px;
    font-size: calc((100vw - 768px) / (1440 - 768) * (24 - 18) + 18px);
    width: 80%;
    line-height: calc((100vw - 768px) / (1440 - 768) * (29 - 25) + 25px);
}
.colored{
    color: #189FA3;
}
.filled{
    background: rgba(127, 198, 193, 0.1);
    margin: 13px 0;
}



.course-teacher{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-teacher__item{
    display: flex;
    width: 75vw;
    margin-top: 20px;
    margin-bottom: 20px;
}
.course-teacher__img{
    display: flex;
    justify-content: center;
    width: calc(100vw * 345 / 1440);
    height: calc(100vw * 345 / 1440);
    border-radius: calc(50vw * 345 / 1440);
    overflow: hidden;
    margin-right: calc(.08 * 100vw);
}
.teacher-avatar{
    height: calc(100vw * 345 / 1440);;
}
.course-teacher__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 55%;
}
.course-teacher__name{
    font-size: calc((100vw - 768px) / (1440 - 768) * (32 - 22) + 22px);
    font-weight: bold;
    margin: 22px 0 13px 0;
}
.course-teacher__text{
    font-size: calc((100vw - 768px) / (1440 - 768) * (18 - 14) + 14px);
}

.course__students{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 110px 0 0 3vw;
}
.course__students-img-container{
    width: 16vw;
    height: 22vw;
    background: #2c3e50;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course__students-img{
    height: 22vw;
    z-index: 101;
}
.course__students-name{
    width: 15vw;
    margin: 10px 0 5px 0;
    font-weight: bold;
    font-size: calc((100vw - 320px) / (1440 - 320) * (20 - 16) + 16px);
}
.course__students-role{
    font-size: calc((100vw - 320px) / (1440 - 320) * (16 - 14) + 14px);
    margin: 5px 0 0 0;
    width: 15vw;
}

@media (max-width: 768px) {
    .course__students{
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10vw 0 0;
    }
    .course__students-img-container{
        width: 230px;
        height: 290px;
    }
    .course__students-img{
        height: 290px;
        z-index: 101;
    }
    .course__students-name{
        width: 230px;
        margin: 10px 0 5px 0;
        font-weight: bold;
        font-size: calc((100vw - 320px) / (1440 - 320) * (20 - 16) + 16px);
        text-align: center;
    }
    .course__students-role{
        font-size: calc((100vw - 320px) / (1440 - 320) * (16 - 14) + 14px);
        text-align: center;
        width: 230px;
    }
}

@media (max-width: 450px) {
    .poster{
        font-size: calc((100vw - 200px) / (320 - 200) * (34 - 32) + 32px);
        height: 300px;
        text-align: center;
        line-height: 1;
    }
    .course-title{
        font-size: calc((100vw - 200px) / (320 - 200) * (24 - 22) + 22px);
    }
    .course-teacher__item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .course-teacher__img{
        width: calc(100vw * 184 / 320);
        height: calc(100vw * 184 / 320);
        border-radius: calc(50vw * 184 / 320);
        margin-right: 0;
    }
    .teacher-avatar{
        height: calc(100vw * 184 / 320);
    }
    .course-teacher__info{
        align-items: center;
        max-width: 100%;
    }
    .course-teacher__text{
        text-align: center;
        font-size: calc((100vw - 200px) / (320 - 200) * (16 - 14) + 14px);
    }
    .course-teacher__name{
        font-size: calc((100vw - 200px) / (320 - 200) * (15 - 13) + 13px);
    }
    .learn-item__text{
        font-size: calc((100vw - 200px) / (320 - 200) * (15 - 10) + 10px);
    }
    .learn-items{
        width: 80vw;
    }
    .learn-item{
        width: 100%;
    }
    .question-item__title{
        font-size: calc((100vw - 200px) / (320 - 200) * (17 - 14) + 14px);
    }
    .question-item__text{
        margin: 5px 20px 25px 20px;
        font-size: calc((100vw - 200px) / (320 - 200) * (17 - 14) + 14px);
        width: 80%;
    }
    .course-subtitle{
        font-size: calc((100vw - 200px) / (320 - 200) * (17 - 14) + 14px);
        margin-bottom: 25px;
    }
    .question-opened{
        height: auto;
    }
}