.styleru-footer {
    width: 100%;
    height: 340px;
    background: #11565E;
}

.styleru-footer__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.styleru-footer__info {
    width: 100%;
    height: 260px;
    padding: 60px calc((100vw - 700px) / (1440 - 700) * (100 - 30) + 30px) 50px calc((100vw - 700px) / (1440 - 700) * (120 - 40) + 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.styleru-footer__logo {
    height: calc((100vw - 700px) / (1440 - 700) * (100 - 70) + 70px);
    width: calc((100vw - 700px) / (1440 - 700) * (100 - 70) + 70px);
    background: url("../assets/ru_logos/ru_logo.png");
    background-size: cover;
}

.styleru-footer__pages {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 32vw;
    align-items: flex-start;
    justify-content: space-between;
    /*justify-content: space-between;*/
}

.styleru-footer__page-item {
    color: white;
    font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 14) + 14px);
    margin-left: calc((100vw - 700px) / (1440 - 700) * (140 - 65) + 65px);
    height: calc((100vw - 700px) / (1440 - 700) * (50 - 40) + 40px);
    cursor: pointer;
}

.styleru-footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 32vw;
    align-items: flex-end;
    padding-left: calc((100vw - 700px) / (1440 - 320) * (0 + 10) - 10px);
}

.styleru-footer__social {
    padding: 0 calc((100vw - 700px) / (1440 - 700) * (100 - 30) + 30px) 0 calc((100vw - 700px) / (1440 - 700) * (120 - 40) + 40px);
    height: 80px;
    border-top: 1px solid #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.styleru-footer__name {
    font-size: calc((100vw - 320px) / (1440 - 320) * (18 - 14) + 14px);
    color: #EAE4CD;
}

.styleru-footer__social-container {
    display: flex;
}

.styleru-footer__social-item {
    width: calc((100vw - 320px) / (1440 - 320) * (40 - 28) + 28px);
    height: calc((100vw - 320px) / (1440 - 320) * (40 - 28) + 28px);
    border-radius: calc((100vw - 320px) / (1440 - 320) * (18 - 12) + 12px);
    background: #eae4cd;
    margin-left: 40px;
}

.no-margin {
    margin-left: 0 !important;
    cursor: auto;
}


@media (max-width: 570px) {
    .styleru-footer {
        height: auto;
    }
    .styleru-footer__logo {
        display: none;
    }
    .styleru-footer__social {
        display: flex;
        flex-direction: column-reverse;
        min-height: 110px;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 calc((100vw - 320px) / (570 - 320) * (45 - 30) + 30px);
    }
    .styleru-footer__social-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .styleru-footer__social-item {
        margin: 0;
    }
    .styleru-footer__info {
        padding: 20px 15px;
        height: 190px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .styleru-footer__page-item {
        margin-left: 0;
        padding: 0 calc((100vw - 320px) / (570 - 320) * (30 - 15) + 15px);
        height: auto;
        font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 16) + 16px);
        text-align: left;
    }
    .no-margin {
        font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 14) + 14px);
        text-align: left !important;
    }
    .styleru-footer__pages {
        height: 80px;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        /*justify-content: space-between;*/
    }
    .styleru-footer__container {
        display: flex;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .styleru-footer__contacts {
        height: 80px;
        max-width: 100%;
        width: 100%;
        align-items: flex-start;
    }
}