@import "http://fonts.fontstorage.com/import/roboto.css";
@import "projects.css";
@import "projectFullInfo.css";
@import "newMain.css";
@import "contacts.css";
@import "course.css";
@import "./aboutComponents/lib.css";
@import "./courses/courseCard.css";
@import "./courses/courses.css";
@import "./courses/management.css";
@import "footer.css";

*{
   font-family: sans-serif, 'Roboto';
   scroll-behavior: smooth;
}
*:hover{
    outline: none;
    text-decoration: none;
}
router-link{
    color: black;
    text-decoration: none;
}
router-link:hover{
    color: black;
    text-decoration: none;
    outline: none;
}
.header_link{
    font-weight: 500;
    font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 20) + 20px);
    color: black;
    margin-left: 4vw;
    margin-right: 4vw;
}
h1{
    font-weight: bold;
    /* font-size: 64px; */
}
h2{
    font-weight: bold;
    /* font-size: 48px; */
}
h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.all_projects{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
}
.links{
    font-weight: normal;
    font-size: 24px;
    color: white;
}
.contacts{
    font-weight: normal;
    font-size: 18px;
    color: #EAE4CD;
}
.project_description{
    color: black;
    font-size: 18px;
    font-weight: normal;
}
.big_description{
    color: white;
    font-size: 32px;
    font-weight: normal;
}


.button-template{
    width: 260px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.orange-button{
    background-color: #F18C19;
    color: white;

}
.orange-button:hover, .orange-button:focus{
    background-color: #F18C19;
}
/* :root{
    --medium: 24;

    --font-medium: var(--medium)
} */

@media all and (max-width: 992px) {
    h1{
        font-weight: bold;
        font-size: 36px;
    }
    h2{
        font-weight: bold;
        font-size: 20px;
    }
    h4{
        font-size: 18px;
        font-weight: 500;
    }
    .all_projects{
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
    }
    .button_osh{
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.1em;
        color: white;
    }
    .links{
        font-weight: normal;
        font-size: 16px;
        color: #EAE4CD;
    }
    .contacts{
        font-weight: normal;
        font-size: 14px;
        color: #EAE4CD;
    }
    .project_description{
        color: black;
        font-weight: normal;
        font-size: 16px;
    }
    
      
}