

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.main__top-block{
    display: flex;
    align-items: center;
    margin: 80px 0 60px 0;
    /* padding: 0 20vw 0 20vw; */
}
.main__top-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__top-title{
    font-size: calc((100vw - 768px) / (1440 - 768) * (50 - 32) + 32px);
    font-weight: bold;
    color: black;
    margin-bottom: 45px;
    line-height: calc((100vw - 960px) / (1440 - 960) * (50 - 40) + 40px);
}
.main__subtitle{
    font-size: calc((100vw - 768px) / (1440 - 768) * (24 - 18) + 18px);
    color: black;
    text-align: center;
    line-height: calc((100vw - 960px) / (1440 - 960) * (24 - 15) + 15px);
}
.main__top-picture{
    width: 55%;
    height: 32vw;
    background: url("../assets/main/main_page_picture.png");
    background-size: cover;
}
.main__title{
    font-size: calc((100vw - 320px) / (1440 - 320) * (48 - 22) + 22px);
    font-weight: bold;
    margin-bottom: 70px;
    text-align: center;
    padding: 0 15px;
    line-height: calc((100vw - 320px) / (1440 - 320) * (48 - 30) + 30px);
}
.main__course{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px 40px 20px;
}
.main__courses-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}
.main__course-img-container{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 20px;
}
.main__course-img{
    width: 40%;
}
.main__project{
    display: flex;
    flex-direction: row;
    width: 83vw;
    justify-content: space-between;
    margin-left: 8vw;
    margin-bottom: 60px;
    margin-top: 60px;
}
.main__project-img{
    width: 38vw;
    height: 23vw;
    background: url("../assets/main/Screenshot_9.png");
    background-size: cover;
    box-shadow: 0 0 10px #ddd;
}
.no-margin{
    margin: 0 !important;
}
.main__project-text{
    display: flex;
    flex-direction: column;
    width: 35vw;
}
.main__project-title{
    color: black;
    font-weight: bold;
    font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 16) + 16px);
    margin-bottom: 15px;
}
.main__project-info{
    color: black;
    font-size: calc((100vw - 320px) / (1440 - 320) * (18 - 14) + 14px);
}
.main__logo{
    /*width: 18vw;*/
    height: 12vw;
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
    align-items: center;
    /*background: #888;*/
    margin: 3vw 0 0 7vw;
}
.main__logo-img{
    height: 100% !important;
    /*width: auto;*/
}

@media (max-width: 290px){
    .main__top-title{
        line-height: 30px;
        width: 70vw;
    }
}
@media (max-width: 207px){
    .main__top-text .main__subtitle{
        line-height: 20px;
        text-align: left;
    }
}
@media (max-width: 768px) {
    .main__project{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 7vw;
    }
    .main__project-img{
        margin-bottom: 30px;
        width: 60vw;
        height: 35vw;
    }
    .main__project-text{
        width: 60vw;
    }
    .main__top-block{
        display: flex;
        flex-direction: column;
    }
    .main__top-picture{
        width: 90vw;
        height: 58vw;
        margin-top: 15px;
    }
    .main__top-title{
        font-size: calc((100vw - 320px) / (768 - 320) * (32 - 28) + 28px);
        font-weight: bold;
        color: black;
        margin-bottom: 15px;
    }
    .main__title{
        font-size: calc((100vw - 320px) / (768 - 320) * (30 - 28) + 28px);
        margin-bottom: 50px;
    }
    .main__subtitle{
        font-size: calc((100vw - 320px) / (768 - 320) * (18 - 16) + 16px);
    }
    .main__course-img-container{
        width: 250px;
        height: 250px;
    }
    .main__logo{
        width: 30vw;
        height: 17vw;
        margin: 0 0 20px 4vw;
    }
}
@media (min-width: 785px) {
    .main__top-title{
        font-size: 3.2vw;
    }
}