.proj-img{
    width: 1000px;
    height: 600px;
    margin: 50px 0 0 0;
}
.proj-title{
    font-size: 48px;
    font-weight: bold;
    margin: 100px 0 40px 0;
}
.proj-info-container{
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 32px;
}
.proj-block-title{
    font-size: 36px;
    font-weight: bold;
    margin: 60px 0 25px 0;
}
.proj-description{
    font-size: 24px;
    width: 80%;
}
.proj-team{
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 60px 0;
}
.proj-person{
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 0 0 40px 0;
}
.proj-person-avatar{
    width: 140px;
    height: 140px;
}
.proj-person-info{
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.proj-person-name{
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 5px 0;
}
.proj-person-role{
    font-size: 18px;
    margin: 5px 0 5px 0;
}
@media (max-width: 1100px) {
    .proj-img{
        width: 700px;
        height: 420px;
    }
    .proj-title{
        font-size: 44px;
    }
}
@media (max-width: 800px) {
    .proj-title{
        font-size: 40px;
        margin: 80px 0 30px 0;
    }
    .proj-info-container{
        font-size: 28px;
        height: 150px;
    }
    .proj-block-title{
        font-size: 32px;
    }
    .proj-img{
        width: 450px;
        height: 270px;
    }
}
@media (max-width: 600px) {
    .proj-title{
        font-size: 32px;
        margin: 60px 0 15px 0;
    }
    .proj-info-container{
        font-size: 24px;
    }
    .proj-block-title{
        font-size: 28px;
        margin: 50px 0 20px 0;
    }
    .proj-img{
        width: 300px;
        height: 180px;
    }
    .proj-description{
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    b{
        display: none;
    }
    .proj-title{
        font-size: 24px;
        margin: 60px 0 15px 0;
    }
    .proj-info-container{
        font-size: 20px;
        height: auto;
        width: 90%;
        margin: 0 20px;
    }
    .proj-block-title{
        font-size: 18px;
        margin: 40px 0 10px 0;
    }
    .proj-img{
        width: 100%;
        height: calc(100vw * 0.6);
        margin: 0;
    }
    .proj-description{
        font-size: 16px;
        width: 90%;
        margin: 0 20px;
    }
    .proj-person-avatar{
        width: 70px;
        height: 70px;
    }
    .proj-person-name{
        font-size: 16px;
        margin: 0 0 5px 0;
    }
    .proj-person-role{
        font-size: 16px;
        margin: 0;
    }
}