.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.projects-top-text{
    width: 850px;
    font-size: 24px;
    text-align: center;
    margin: 65px 0 85px 0;
    padding: 0 10px;
    line-height: calc((100vw - 320px) / (1440 - 320) * (36 - 26) + 26px);
}
.projects-title{
    font-size: 48px;
    font-weight: bold;
}
.projects-filter{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0 55px 0;
}
.project-card{
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
    box-shadow: 0 3px 60px 0 rgba(17, 101, 94, 0.1);
    cursor: pointer;
}
.project-card__img-container{
    width: 350px;
    height: 230px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.project-card-img{
    height: 240px;
    width: 100%;
}
.project-card-text{
    width: 351px;
    height: 140px;
    display: flex;
    padding-left: 9px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 16px;
}
.project-card-title{
    font-weight: bold;
}
.projects-items{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.projects-space{
    width: 100%;
    height: 100px;
}
.projects-order-container{
    height: auto;
    min-height: 760px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 60px 0 rgba(17, 101, 94, 0.1);
    margin: 48px 0 100px 0;
}
.projects-order-info{
    width: 500px;
    background-color: #d5eeee;
}
.projects-order-info-title{
    font-weight: bold;
    font-size: 32px;
    margin: 55px 0 0 70px;
}
.projects-order-info-text{
    width: 400px;
    margin: 20px 0 0 70px;
    font-size: 20px;
    line-height: 1.3;
}
.projects-order-form{
    width: 500px;
    height: auto;
}
.projects-order-form-title{
    font-weight: bold;
    font-size: 32px;
    margin: 55px 0 20px 102px;
}
.projects-order-input-container{
    width: 300px;
    height: auto;
    margin: 0 0 5% 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button-template1{
    width: 306px;
    height: 48px;
    margin: 0px 0 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.agreement{
    width: 300px;
    margin: 10px 0 0 0;
    font-size: 12px;
    text-align: center;

}
.projects-search-error{
    width: 85%;
    font-weight: bold;
    color: black;
    font-size: calc((100vw - 320px) / (1440 - 320) * (32 - 16) + 16px);
    line-height: 1.5;
    margin-bottom: 50px;
}
@media (max-width: 1300px) {
    .projects-order-info{
        width: 400px;
    }
    .projects-order-info-title{
        font-size: 30px;
        margin: 55px 0 0 70px;
    }
    .projects-order-info-text{
        width: auto;
        margin: 20px 50px 0 70px;
        font-size: 22px;
    }
}
@media (max-width: 1080px) {
    .projects-order-info{
        display: none;
    }
    .projects-order-form-title{
        display: none;
    }
    .projects-order-input-container{
        margin: 50px 0 0% 105px;
    }
    .projects-order-container{
        height: auto;
        padding: 0 0 50px 0;
    }
    .projects-title{
        font-size: 44px;
    }
    .projects-top-text{
        font-size: 20px;
        width: 80%;
    }
    .button-template1{
        margin-top: 2%;
    }
}
@media (max-width: 850px) {
    .project-card__img-container{
        width: 280px;
        height: 180px;
    }
    .project-card-img{
        height: 180px;
    }
    .project-card-text{
        width: 260px;
        height: 120px;
        display: flex;
        padding-left: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        font-size: 14px;
    }
}

@media (max-width: 660px) {
    .projects-order-container{
        box-shadow: none;
        margin: 10px 0 100px 0;
    }
    .projects-title{
        font-size: 36px;
    }
    .projects-top-text{
        font-size: 18px;
    }
    .project-card{
        margin: 0 10px 40px 10px;
    }
}
@media (max-width: 500px) {
    .projects-order-form{
        width: 350px;
        height: 100%;
    }
    .projects-order-input-container{
        width: 300px;
        margin-left: 25px;
    }
    .button-template1{
        margin-left: 25px;
        width: 300px;
    }
    .agreement{
        margin-left: 25px;
        width: 300px;
    }
}
@media (max-width: 320px) {
    .projects-top-text{
        width: 280px;
        text-align: left;
        margin: 40px 0 40px 0;
    }
    .projects-title{
        font-size: 24px;
    }
    .projects-filter{
        margin: 0 0 45px 0;
    }
    .orange-button{
        height: 55px;
    }
    .projects-space{
        display: none;
    }
    .projects-order-form{
        width: 280px;
    }
    .projects-order-input-container{
        margin: 0;
        width: 100%;
    }
    .button-template1{
        margin-left: 0;
        width: 280px;
    }
    .agreement{
        margin-left: 0;
        width: 280px;
        /*height: 30px;*/
    }
}