<template>
  <div class="styleru-footer">
    <div class="styleru-footer__info">
      <div class="styleru-footer__container">
        <div class="styleru-footer__logo"></div>
        <div class="styleru-footer__pages">
          <div class="styleru-footer__page-item" @click="toPage('courses')">Курсы</div>
          <div class="styleru-footer__page-item" @click="toPage('projects')">Проекты</div>
          <div class="styleru-footer__page-item" @click="toPage('about')">О нас</div>
          <div class="styleru-footer__page-item" @click="toPageLink('https://lms.styleru.org')">ЛМС</div>
        </div>
      </div>

      <div class="styleru-footer__contacts">
        <div class="styleru-footer__page-item no-margin" style="text-align: end">Москва, Шаболовка, 26с2, ауд.3103</div>
        <div class="styleru-footer__page-item no-margin">info@styleru.org</div>
      </div>
    </div>
    <div class="styleru-footer__social">
      <div class="styleru-footer__name">© Бизнес в стиле .RU</div>
      <div class="styleru-footer__social-container">
        <div class="styleru-footer__social-item" :style="{background: `url(${imgs[0]})`, backgroundSize: 'cover', cursor: 'pointer'}"
             @click="toPageLink('https://www.instagram.com/styleru_org/')"></div>
        <div class="styleru-footer__social-item" :style="{background: `url(${imgs[1]})`, backgroundSize: 'cover', cursor: 'pointer'}"
             @click="toPageLink('https://vk.com/styleru')"></div>
        <div class="styleru-footer__social-item" :style="{background: `url(${imgs[2]})`, backgroundSize: 'cover', cursor: 'pointer'}"
             @click="toPageLink('https://t.me/styleru_org')"></div>
        <div class="styleru-footer__social-item" :style="{background: `url(${imgs[3]})`, backgroundSize: 'cover', cursor: 'pointer'}"
             @click="toPageLink('https://www.facebook.com/styleru.org')"></div>
        <div class="styleru-footer__social-item" :style="{background: `url(${imgs[4]})`, backgroundSize: 'cover', cursor: 'pointer'}"
             @click="toPageLink('https://www.youtube.com/channel/UC1Cc7jrELikVr3Oz4AMouxg')"></div>
      </div>
    </div>
  </div>
<!--  <b-container fluid style="background-color: #11565E">-->
<!--    <b-row class="p-5 d-none d-lg-flex">-->
<!--      <b-col lg="2">-->
<!--        <img src="@/assets/ru_logos/ru_logo.png" style="width: 80px; margin: 20px" />-->
<!--      </b-col>-->
<!--        <b-col lg="2">-->
<!--          <div class="d-flex flex-column links">-->
<!--            <div class="footer-text m-2">Курсы</div>-->
<!--            <div class="footer-text m-2">Проекты</div>-->
<!--            <div class="footer-text m-2">О нас</div>-->
<!--          </div>-->
<!--        </b-col>-->
<!--        <b-col lg="2">-->
<!--          <div class="d-flex flex-column links">-->
<!--            <div class="footer-text m-2">ОШ 2020</div>-->
<!--            <div class="footer-text m-2">LMS</div>-->
<!--          </div>-->
<!--        </b-col>-->
<!--      <b-col lg="6">-->
<!--        <div class="footer-text d-flex flex-column align-items-md-end links">-->
<!--          <div class="m-2">Москва, Шаболовка, 26с2, ауд.3103</div>-->
<!--          <div class="m-2">info@styleru.org</div>-->
<!--          <div class="m-2">+7 (910) 978-95-99</div>-->
<!--        </div>-->
<!--      </b-col>-->
<!--    </b-row>-->
<!--    <b-row class="d-lg-none d-flex">-->
<!--        <b-col cols="4">-->
<!--          <div class="d-flex flex-column links">-->
<!--            <div class="mt-2 ">Курсы</div>-->
<!--            <div class="mt-2">Проекты</div>-->
<!--          </div>-->
<!--        </b-col>-->
<!--        <b-col cols="4">-->
<!--          <div class="d-flex flex-column links">-->
<!--            <div class="mt-2">О нас</div>-->
<!--            <div class="mt-2">ОШ 2020</div>-->
<!--          </div>-->
<!--        </b-col>-->
<!--        <b-col cols="4">-->
<!--          <div class="d-flex flex-column links">-->
<!--            <div class="mt-2">LMS</div>-->
<!--          </div>-->
<!--        </b-col>-->
<!--      <b-col cols="12">;-->
<!--        <div class="footer-text d-flex flex-column align-items-lg-end contacts">-->
<!--          <div class="m-1">Москва, Шаболовка, 26с2, ауд.2210</div>-->
<!--          <div class="m-1">info@styleru.org</div>-->
<!--          <div class="m-1">+7 (910) 978-95-99</div>-->
<!--        </div>-->
<!--      </b-col>-->
<!--    </b-row>-->
<!--    <hr class="solid" style="background-color: #8F8F8F" />-->
<!--    <b-row class="px-5 d-none d-lg-flex">-->
<!--      <b-col md="6">-->
<!--        <div class="contacts">© Бизнес в стиле .RU</div>-->
<!--      </b-col>-->
<!--      <b-col md="6">-->
<!--        <div class="d-flex flex-row justify-content-end">-->
<!--          <img class="px-3" src="@/assets/soc_seti/instagram.svg" />-->
<!--          <img class="px-3" src="@/assets/soc_seti/vk.svg" />-->
<!--          <img class="px-3" src="@/assets/soc_seti/telega.svg" />-->
<!--          <img class="px-3" src="@/assets/soc_seti/facebook.svg" />-->
<!--          <img class="pl-3" src="@/assets/soc_seti/youtube.svg" />-->
<!--        </div>-->
<!--      </b-col>-->
<!--    </b-row>-->
<!--    <b-row class="d-lg-none d-flex">-->
<!--      <b-col md="12">-->
<!--        <div class="d-flex flex-row justify-content-between">-->
<!--          <img src="@/assets/soc_seti/instagram.svg" />-->
<!--          <img src="@/assets/soc_seti/vk.svg" />-->
<!--          <img src="@/assets/soc_seti/telega.svg" />-->
<!--          <img src="@/assets/soc_seti/facebook.svg" />-->
<!--          <img src="@/assets/soc_seti/youtube.svg" />-->
<!--        </div>-->
<!--      </b-col>-->
<!--      <b-col md="12">-->
<!--        <div class="mb-3 contacts">© Бизнес в стиле .RU</div>-->
<!--      </b-col>-->
<!--    </b-row>-->
<!--  </b-container>-->
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      imgs: [
          require('../assets/ru_logos/insta.svg'),
          require('../assets/ru_logos/vk.svg'),
          require('../assets/ru_logos/tg.svg'),
          require('../assets/ru_logos/fb.svg'),
          require('../assets/ru_logos/youtube.svg'),
      ]
    }
  },
  methods: {
    toPage(addr) {
      this.$router.push(addr);
    },
    toPageLink(url) {
      document.location.href = url;
    }
  }
}
</script>

<style scoped>
</style>