<template>
<b-navbar toggleable="lg" type="light" variant="white" style="position: fixed; z-index: 1003; width: 100%; box-shadow: 0 2px 20px #eeeeee">
    <b-navbar-brand><router-link to="/"><img src="@/assets/ru_logos/ru_logo.png" style="width: 50px"></router-link></b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" class="flex-grow-1" is-nav>
      <b-navbar-nav class="mx-auto di d-flex justify-md-space-between" right>
          <b-nav-item class="mx-auto m-2"><router-link to="/courses"><div class="header_link">Курсы</div></router-link></b-nav-item>
          <b-nav-item href="#" class="mx-auto m-2"><router-link to="/projects"><div class="header_link">Проекты</div></router-link></b-nav-item>
        
        <b-nav-item href="#" class="mx-auto m-2"><router-link to="/about"><div class="header_link">О нас</div></router-link></b-nav-item>
<!--        <b-nav-item href="#" class="p-4 mx-auto"><div class="header_link">ОШ 2020</div></b-nav-item>-->
        <b-nav-item href="#" class="mx-auto m-2"><div class="header_link" @click="toLMS('https://lms.styleru.org')">LMS</div></b-nav-item>
        <b-nav-item href="#" class="mx-auto m-2"><router-link to="/contacts"><div class="header_link">Контакты</div></router-link></b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default
{
  name: 'Header',
  methods: {
    toLMS(url) {
      document.location.href = url;
    }
  }
}
</script>
<style scoped>
a:hover{
  text-decoration: none;
}

</style>
