.campus-container{
    display: flex;
    flex-direction: row;
    height: 300px;
    max-width: 75vw;
    margin: 70px 0 0 0;
    border: 1px solid black;
}
.campus-container-reverse{
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    max-width: 75vw;
    margin: 70px 0 0 0;
    border: 1px solid black;
}
.campus-on-img{
    width: 35vw;
    height: 300px;
    background: #999999;
    overflow: hidden;
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
}
.campus-img{
    height: 300px !important;
    width: 510px !important;
    z-index: 101;
}
.moscow{
    background: url("../../assets/aboutUs/москва.png") center;
    background-size: cover;
}
.spb{
    background: url("../../assets/aboutUs/питер.png") center;
    background-size: cover;
}
.campus-info{
    width: 50vw;
    padding: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.campus-name{
    font-size: calc((100vw - 320px) / (1440 - 320) * (36 - 24) + 24px);
    font-weight: bold;
}
.campus-text{
    font-size: calc((100vw - 768px) / (1440 - 768) * (24 - 20) + 20px);
    width: 90%;
    line-height: 1.3;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .campus-on-img{
        display: none;
    }
    .campus-info{
        width: 80vw;
    }
    .campus-text{
        font-size: calc((100vw - 320px) / (768 - 320) * (20 - 18) + 18px);
    }
}

@media (max-width: 520px) {
    .campus-info{
        padding: 17px 10px 0 20px;
    }
}