
.documents__line{
    width: 80vw;
    border-bottom: 1.5px solid black;
}
.documents__item{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 7vw 25px 0;
}
.documents__name{
    font-size: calc((100vw - 320px) / (1440 - 320) * (32 - 18) + 18px);
    font-weight: bold;
}
.documents__download{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.documents__download-text{
    font-size: calc((100vw - 768px) / (1440 - 768) * (28 - 16) + 16px);
    margin-right: 30px;
}
.arrow-container{
    width: calc((100vw - 320px) / (1440 - 320) * (30 - 20) + 20px);
    height: calc((100vw - 320px) / (1440 - 320) * (30 - 20) + 20px);
    background: url("../../assets/aboutUs/dowload_arrow.svg");
    background-size: cover;
}

@media (max-width: 768px) {
    .documents__download-text{
        display: none;
    }
    .documents__item{
        padding: 19px 7vw 19px 0;
    }
}