.ls-subtitle{
    font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 18) + 18px);
    margin: 20px 0 0 0;
    text-align: center;
    width: 80vw;
    line-height: calc((100vw - 320px) / (1440 - 320) * (36 - 22) + 22px);
}
.ls-item{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0 20px 0;
}
.ls-avatar{
    height: 280px !important;
    max-width: 450px !important;
    z-index: 101;
}
.ls-on-a{
    width: 220px;
    height: 280px;
    background: #2c3e50;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ls-name{
    width: 150px;
    margin: 2.5vw 0;
    font-weight: bold;
    font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 18) + 18px);
    line-height: calc((100vw - 320px) / (1440 - 320) * (32 - 16) + 16px);
}
.ls-role{
    font-size: calc((100vw - 320px) / (1440 - 320) * (18 - 16) + 16px);
}
.ls-mail{
    font-size: calc((100vw - 320px) / (1440 - 320) * (17 - 15) + 15px);
}