.lh-container{
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lh-info{
    width: 60%;
    text-align: left;
    margin-right: 40px;
}
.lh-title{
    font-size: calc((100vw - 320px) / (1440 - 768) * (36 - 20) + 20px);
    font-weight: bold;
    margin: 50px 0 10px 0;
    line-height: calc((100vw - 320px) / (1040 - 300) * (40 - 28) + 28px);
}
.lh-text{
    font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 16) + 16px);
    margin-top: 2.2vw;
    line-height: 1.5;
}
.lh-img{
    width: 300px;
    height: 300px;
    background: url("../../assets/aboutUs/Screenshot_7.png");
    background-size: cover;
}

@media (max-width: 890px) {
    .lh-img{
        display: none;
    }
    .lh-info{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .lh-container{
        width: 80vw;
    }
}