.history-img{
    height: 46vw;
    width: 80vw;
    background: url("../../assets/aboutUs/history.png") center center;
    background-size: cover !important;
    margin-top: 50px;
}

@media (max-width: 540px) {
    .history-img{
        width: 89vw;
        height: 113vw;
        background: url("../../assets/aboutUs/history__mobile.png") center center;
        background-size: contain;
        margin-top: 30px;
    }
}