
.wwd-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 345px;
    align-items: center;
    margin: 15px 0 20px 0;
}
.wwd-title-top{
    margin: 35px 0 10px 0;
    font-size: 18px;
    font-weight: bolder;
    display: none;
}
.wwd-title{
    margin: 25px 0 15px 0;
    font-size: calc((100vw - 320px) / (1440 - 320) * (24 - 18) + 18px);
    font-weight: bolder;
}
.wwd-info{
    font-size: calc((100vw - 320px) / (1440 - 320) * (22 - 16) + 16px);
    padding: 0 10px;
}
.wwd-image{
    width: 244px;
    height: 244px;
    border-radius: 40px;
}