<template>
<div style="width: 100%">
    <Header v-if="!$route.meta.none"></Header>
    <div style="height: 70px"></div>
    <!-- <MainPage class="d-none d-lg-block"></MainPage>
    <MainPageMobile class="d-block d-lg-none"></MainPageMobile> -->
    <router-view></router-view>
    <!-- <CoursesPage></CoursesPage> -->
    <Footer v-if="!$route.meta.none"></Footer>
</div>
</template>

<script>
// import MainPageMobile from './views/MainPageMobile.vue'
import Header from './components/Header.vue'
// import MainPage from './views/MainPage.vue'
import Footer from './components/Footer.vue'
// import CoursesPage from './views/CoursesPage.vue'

export default {
  name: 'App',
  components: {
    Header,
    // MainPage,
    Footer,
    // MainPageMobile,
    // CoursesPage
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  width: 100%;
}
</style>
