<template>
  <div style="display: flex; flex-direction: column; align-items: center">
    <div class="poster">{{ getTitle }}</div>


    <div class="learn">
      <div class="course-title">Вы научитесь</div>
      <div class="learn-items">
        <WhatYouWillLearnItem v-for="(item, key) in getLearnItems" :key="key" :number="key + 1" :title="item.title" :text="item.text"></WhatYouWillLearnItem>
      </div>
    </div>

<!--    <img :src="require('../../assets/aboutUs/history.png')">-->

    <div class="lessons">
      <div class="course-title">Программа</div>
      <div class="course-subtitle">{{ getSubtitle }}</div>
      <div v-for="(lesson, key) in getLessons" :key="key" >
        <div class="hr"></div>
        <Lesson :question="lesson.question" :text="lesson.text"></Lesson>
      </div>
      <div class="hr"></div>
    </div>


    <div class="course-teacher">
      <div class="course-title">Преподаватели</div>
      <div class="course-teacher__item" v-for="(teacher, index) in getTeachers" :key="index">
        <div class="course-teacher__img">
          <img class="teacher-avatar" :src="teacher.img" alt="">
        </div>
        <div class="course-teacher__info">
          <div class="course-teacher__name">{{ teacher.name }}</div>
          <div class="course-teacher__text">{{ teacher.text }}</div>
        </div>
      </div>
    </div>
<!--    <div style="margin: 45px 0; width: 100%; height: 1px"></div>-->


<!--    <StudentsSwiper></StudentsSwiper>-->


    <div class="lessons">
      <div class="course-title">Часто задаваемые вопросы</div>
      <div v-for="(question, key) in getFaq" :key="key" >
        <Lesson :question="question.question" :text="question.text" faq="true"></Lesson>
      </div>
    </div>

    <div style="height: 100px"></div>
  </div>
</template>

<script>
import WhatYouWillLearnItem from "@/views/courses/WhatYouWillLearnItem";
import Lesson from "@/views/courses/Lesson";
import 'swiper/css/swiper.css'
import { learn_items } from "@/const/learnItems";
import { lessons } from "@/const/lessons";
import { subtitles } from "@/const/courseSubtitles";
import { faq } from "@/const/faq";
import { teachers } from "@/const/teachers";
// import StudentsSwiper from "@/views/courses/StudentsSwiper";

export default {
  name: "CoursePage",
  components: {
    WhatYouWillLearnItem,
    Lesson,
    // StudentsSwiper
  },
  data(){
    return{

    }
  },
  computed: {
    getWidth() {
      console.log(window.innerWidth)
      return window.innerWidth >= 768
    },
    getFaq() {
      return faq
    },
    getTeachers() {
      return teachers[this.$route.params.id];
    },
    getTitle() {
      let urlArray =  this.$route.params.id.split('-')
      urlArray[0] = urlArray[0].slice(0, 1).toUpperCase() + urlArray[0].slice(1);
      return urlArray.join(' ')
    },
    getLearnItems() {
      return learn_items[this.$route.params.id];
    },
    getLessons() {
      return lessons[this.$route.params.id];
    },
    getSubtitle() {
      return subtitles[this.$route.params.id];
    }
  },
  mounted() {
    window.scrollTo({
      top: 0,
      behavior: "instant"
    });
  }
}
</script>

<style lang="scss" scoped>

</style>