<template>
  <div :class="{'question-item': true, 'filled': faq}">
    <div :class="{'question-item__container': true}" @click="opened = !opened">
      <div :class="{'question-item__title': true, 'colored': opened}">{{ question }}</div>
      <div :class="{'rotated': opened, 'arrow': true}">
        <GrayArrowDown v-if="!opened" ></GrayArrowDown>
        <BlueArrow v-else></BlueArrow>
      </div>
    </div>
    <div :class="{'question-item__answer': true, 'question-opened': opened}">
      <div class="question-item__text" v-for="(option,i) in text" :key="i">{{ option }}</div>
    </div>
  </div>
</template>


<script>
import GrayArrowDown from "@/views/svgImages/GrayArrowDown";
import BlueArrow from "@/views/svgImages/BlueArrow";

export default {
  name: "Lesson",
  props: ['question', 'text', 'faq'],
  components: {
    BlueArrow,
    GrayArrowDown,
  },
  data(){
    return{
      opened: false,
    }
  }
}
</script>


<style scoped>

</style>