<template>
  <div>
    <div class="course-title">Студенты и выпускники</div>
    <swiper class="swiper" :options="swiperOption" v-if="getWidth">
      <swiper-slide>
        <div class="course__students">
          <div class="course__students-img-container">
            <img src="../../assets/aboutUs/fc2b3506c7063ab3e93a78e4c5c00092.jpg" alt="" class="course__students-img">
          </div>
          <div class="course__students-name">Станислав Трофимов</div>
          <div class="course__students-role">Руководитель Бизнес в стиле .RU</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
          <div class="course__students-img-container">
            <img src="../../assets/aboutUs/fc2b3506c7063ab3e93a78e4c5c00092.jpg" alt="" class="course__students-img">
          </div>
          <div class="course__students-name">Станислав Трофимов</div>
          <div class="course__students-role">Руководитель Бизнес в стиле .RU</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
          <div class="course__students-img-container">
            <img src="../../assets/aboutUs/fc2b3506c7063ab3e93a78e4c5c00092.jpg" alt="" class="course__students-img">
          </div>
          <div class="course__students-name">Станислав Трофимов</div>
          <div class="course__students-role">Руководитель Бизнес в стиле .RU</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
          <div class="course__students-img-container">
            <img src="../../assets/aboutUs/fc2b3506c7063ab3e93a78e4c5c00092.jpg" alt="" class="course__students-img">
          </div>
          <div class="course__students-name">Станислав Трофимов</div>
          <div class="course__students-role">Руководитель Бизнес в стиле .RU</div>
        </div>
      </swiper-slide>
      <div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>
    </swiper>
    <swiper class="swiper" :options="swiperOptionMobile" v-else>
      <swiper-slide>
        <div class="course__students">
          <div class="course__students-img-container">
            <img src="../../assets/aboutUs/fc2b3506c7063ab3e93a78e4c5c00092.jpg" alt="" class="course__students-img">
          </div>
          <div class="course__students-name">Станислав Трофимов</div>
          <div class="course__students-role">Руководитель Бизнес в стиле .RU</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
          <div class="course__students-img-container">
            <img src="../../assets/aboutUs/fc2b3506c7063ab3e93a78e4c5c00092.jpg" alt="" class="course__students-img">
          </div>
          <div class="course__students-name">Станислав Трофимов</div>
          <div class="course__students-role">Руководитель Бизнес в стиле .RU</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
          <div class="course__students-img-container">
            <img src="../../assets/aboutUs/fc2b3506c7063ab3e93a78e4c5c00092.jpg" alt="" class="course__students-img">
          </div>
          <div class="course__students-name">Станислав Трофимов</div>
          <div class="course__students-role">Руководитель Бизнес в стиле .RU</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
          <div class="course__students-img-container">
            <img src="../../assets/aboutUs/fc2b3506c7063ab3e93a78e4c5c00092.jpg" alt="" class="course__students-img">
          </div>
          <div class="course__students-name">Станислав Трофимов</div>
          <div class="course__students-role">Руководитель Бизнес в стиле .RU</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="course__students">
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import {Swiper, SwiperSlide} from "vue-awesome-swiper";

export default {
  name: "StudentsSwiper",
  components: {
    Swiper,
    SwiperSlide
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 4,
        pagination: {
          el: '.swiper-pagination',
          type: 'fraction'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      swiperOptionMobile: {
        slidesPerView: 4,
        centeredSlides: true,
        spaceBetween: 70,
        grabCursor: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      }
    }
  },
  computed: {
    getWidth() {
      console.log(window.innerWidth)
      return window.innerWidth >= 768
    },
  }
}
</script>

<style lang="scss" scoped>
.swiper {
  height: 45vw;
  width: 94vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

.swiper-slide {
  height: 36vw;
  display: flex;
  align-items: center;
}
}

@media (max-width: 768px) {
  .swiper{
    height: 420px;
    width: 100vw;
    margin-top: 30px;
    padding-right: 35vw;

  .swiper-slide {
    height: 420px;
    width: 210px !important;
    display: flex;
    align-items: center;
  }
}
}
</style>