<template>
    <b-container fluid>
        <b-row fluid class="previews">
            <img src="../../assets/backgrounds/preview.svg">
        </b-row>
            <div class="text-center my-5"><h2>Вы научитесь</h2></div>
    </b-container>
</template>
<style scoped>
.previews{
    background-image: url("../../assets/backgrounds/preview.svg");
}
</style>