<template>
  <div class="learn-item">
    <div class="learn-item__number">{{ number }}.</div>
    <div class="learn-item__info">
      <div class="learn-item__title">{{ title }}</div>
      <div class="learn-item__text">{{ text }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "WhatYouWillLearnItem",
  props: ['number', 'title', 'text']
}
</script>

<style scoped>

</style>